:host {
  // ensure that the element is taking up the full width of the parent
  width: 100%;
}

.invisible-input {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: inherit;
  width: 100%;
}
