@import "src/custom_bootstrap.scss";

:host {
  .environments--header {
    z-index: 101;
    background-color: lighten($gray-900, 12%);
    border-bottom: 2px solid $gray-900;
    box-shadow: inset -4px 0 0 0 $gray-900;
  }

  ul {
    padding-top: 2.5rem;
  }

  a[class*="active"] {
    box-shadow: inset 2px 0 0 0 $blue, inset -4px 0 0 0 $gray-400 !important;
  }
}

.animation--slide-in {
  transition: all 500ms 0s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -25%;
  width: 25%;
  
  background-color: lighten($gray-900, 12%);
  box-shadow: inset -4px 0 0 0 $gray-400;

  z-index: 100;

  &--open {
    left: 0;
  }
}