<div class="menu-column--environments d-flex flex-column h-100" MousedragDeadzone>
  <div class="position-relative">
    <div class="d-flex align-items-center flex-column">
      <a class="nav-link text-primary open-environment-menu"
        (click)="toggleMenu()"
        ngbTooltip="Expand">
        <i class="material-icons">keyboard_arrow_right</i>
      </a>
      <a class="nav-link text-primary" (click)="addEnvironment()">
        <i class="material-icons">add_circle</i>
      </a>
    </div>
  </div>
  <div class="animation--slide-in" [ngClass]="{'animation--slide-in--open': menuOpen}">
    <div class="environments--header d-flex align-items-center justify-content-between position-absolute w-100">
      <a class="nav-link text-primary" (click)="addEnvironment()">
        <i class="material-icons mr-2">add_circle</i>
        <span>Add environment</span>
      </a>
      <a class="nav-link text-primary close-environment-menu"
          (click)="toggleMenu()"
          ngbTooltip="Collapse">
        <i class="material-icons">keyboard_arrow_left</i>
      </a>
    </div>

    <ul #environmentsMenu *ngIf="(environments$ | async) as environments"
      class="nav flex-column flex-fill menu-list h-100 overflow-auto" dragula="environments"
      [dragulaModel]="environments">
      <li class="nav-item" *ngFor="let environment of environments">
        <a *ngIf="(environmentsStatus$ | async) as environmentsStatus"
          class="nav-link position-relative w-100 pr-2 d-flex justify-content-between" [ngClass]="{
              'active': (activeEnvironment$ | async)?.uuid === environment.uuid,
              'running': environmentsStatus[environment.uuid].running && !environmentsStatus[environment.uuid].needRestart,
              'need-restart': environmentsStatus[environment.uuid].needRestart
            }" (click)="selectEnvironment(environment.uuid)"
          (contextmenu)="navigationContextMenu(environment.uuid, $event)">
          <div *ngIf="(duplicatedEnvironments$ | async) as duplicatedEnvironments" class="d-flex flex-column ellipsis w-100">
            <div class="d-flex">
              <span class="text-warning mr-1 align-self-center" ngbTooltip="Port is shared with another environment">
                <i *ngIf="duplicatedEnvironments?.has(environment.uuid)" class="material-icons">warning</i>
              </span>
              {{environment.name}}
            </div>
            <div class="w-100 d-flex justify-content-between">
              <span class="menu-subtitle ellipsis">
                0.0.0.0:{{environment.port}}/{{environment.endpointPrefix}}
              </span>
              <div class="d-flex justify-content-between">
                <i *ngIf="environment.proxyMode" class="material-icons mr-1 server-icons-proxy-mode"
                  ngbTooltip="Proxy mode enabled">security</i>
                <i *ngIf="environment.https" class="material-icons mr-1 server-icons-https" ngbTooltip="HTTPS enabled">https</i>
                <i *ngIf="environment.cors" class="material-icons server-icons-cors" ngbTooltip="CORS enabled">shuffle</i>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>