/* Bootstrap imports */
@import './bootstrap-variables.scss';
@import '~bootstrap/scss/bootstrap';

/* Bootstrap customizations */
.nav {
  // correct bug with menus
  flex-wrap: nowrap;
}
.nav-link {
  cursor: pointer;
  transition: all ease-in-out 150ms, box-shadow 1ms;
}
.nav-tabs {
  border-bottom: none;

  .nav-link {
    border: none;
    margin-bottom: 0;
  }
  .nav-link.active,
  .nav-item.show .nav-link {
    color: $gray-100;
    box-shadow: inset 0 -2px 0 0 $blue;
  }
}
.nav.flex-column {
  .nav-link.active,
  .nav-item.show .nav-link {
    color: $gray-100;
    box-shadow: inset 2px 0 0 0 $blue;
    background-color: $component-active-bg;
  }
  .nav-link.route-disabled,
  .nav-item.show .nav-link {
    box-shadow: inset -2px 0 0 0 $red;
  }
  .nav-link.route-disabled.active,
  .nav-item.show .nav-link {
    box-shadow: inset -2px 0 0 0 $red, inset 2px 0 0 0 $blue;
  }
  .nav-link.running {
    box-shadow: inset -3px 0 0 0 $green;
  }
  .nav-link.active.running {
    box-shadow: inset 2px 0 0 0 $blue, inset -3px 0 0 0 $green;
  }
  .nav-link.need-restart {
    box-shadow: inset -3px 0 0 0 $orange;
  }
  .nav-link.active.need-restart {
    box-shadow: inset 2px 0 0 0 $blue, inset -3px 0 0 0 $orange;
  }
  // adjust nav badge position
  .nav-link .badge {
    margin-left: 0.5rem;
    margin-top: 2px;
  }
}

.custom-control-label::after {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 65vh;
}
.form-control {
  letter-spacing: 0.02rem;
  background-clip: border-box;

  &:disabled,
  &[readonly] {
    color: $text-muted;
  }
}
.input-group-text {
  color: $gray-400;
}
label {
  color: $gray-400;
}
.input-group-prepend,
.input-group-append {
  .btn {
    // remove input group btn big padding 8/16px (do not know where it comes from)
    padding: 1px 6px;
  }
}

.badge {
  transition: none;

  &-hollow {
    border: 1px solid $gray-300;
  }
}

.btn.btn-icon {
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
  color: $gray-500;

  &:hover,
  &:active {
    color: $body-color;
    text-decoration: none;
  }

  &.active {
    color: $gray-200;
    box-shadow: inset 0 -2px 0 0 $blue;
    border-radius: 0;
  }
}

.btn-custom {
  @include button-variant(
    $custom-gray,
    transparent,
    $custom-gray,
    $gray-800,
    $custom-gray,
    $gray-800
  );
  color: $gray-500;
  border-width: $btn-border-width;

  &:hover,
  &.dropdown-toggle {
    color: $gray-100;
  }

  &:focus,
  &.focus,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus,
  .show > &.dropdown-toggle:focus {
    color: $gray-500;
    box-shadow: none;
  }
}

.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size(
    $input-btn-padding-y-xs,
    $input-btn-padding-x-xs,
    $font-size-xs,
    $input-btn-line-height-xs,
    $btn-border-radius-xs
  );
}

.btn-xxs {
  // line-height: ensure proper height of button next to small input
  @include button-size(
    $input-btn-padding-y-xxs,
    $input-btn-padding-x-xxs,
    $font-size-xxs,
    $input-btn-line-height-xxs,
    $btn-border-radius-xxs
  );
}

.custom-select {
  &:focus {
    color: $gray-200;
  }

  -webkit-appearance: none;
}

.disabled-color {
  color: $gray-500;
}

// fix bootstrap flexfill which is incompatible with ace editor
.flex-fill {
  flex: 1 !important;
}

.mh0 {
  min-height: 0;
}

.mw0 {
  min-width: 0;
}

.dropdown {
  &-toggle {
    width: 100%;
    text-align: left;

    &::after {
      margin-left: -1em;
    }

    .dropdown-toggle-label {
      display: inline-block;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      vertical-align: bottom;
      padding-right: 2em;
    }
  }

  &-menu {
    .dropdown-header {
      padding: 10px 10px 5px 10px;
    }
  }
}

a:not([href]):not([tabindex]) {
  color: $gray-400;
}
a:focus {
  outline: none;
}

.list-group:not(.list-group-flush) {
  .list-group-item {
    border-left: 0;
    border-right: 0;
  }
}
.list-group-item {
  outline: none;
}
