@import './boostrap-overrides.scss';
@import './animations.scss';

// custom scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: lighten($gray-900, 6%);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// ace editor custom scrollbar
.ace_scrollbar.ace_scrollbar-v::-webkit-scrollbar-thumb {
  background: lighten($gray-900, 5%);
}

::selection {
  background: $blue;
}

html {
  // reduce page size reduce everything in bootstrap
  font-size: 14px;
}

body {
  user-select: none;
  cursor: default;
  overflow: hidden;
  letter-spacing: 0.02rem;
}

html,
body {
  height: 100vh;
}

select,
input,
.btn,
.dropdown-item {
  transition: all ease-in-out 100ms;
}
.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;

  &::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track {
    background-color: $custom-gray;
  }
  &::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb {
    background: lighten($gray-900, 15%);
  }
}

.h-35 {
  max-height: 35%;
}

.main-content {
  background-color: darken($gray-900, 2%);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.column-width {
  min-width: 25%;
  max-width: 25%;
}

.menu-list {
  overflow-x: hidden;
  overflow-y: auto;

  .nav-item {
    box-shadow: inset 0 -1px 0 0 lighten($gray-900, 3%);
  }
}

// avoid list style when dragging (item is created outside of a .nav)
.nav-item {
  list-style: none;
}

.menu-header {
  box-shadow: inset 0 -1px 0 0 lighten($gray-900, 3%);
}

.menu-subtitle {
  color: $gray-500;
  font-size: $small-font-size;
}

.scroll-content {
  overflow-x: hidden;
  overflow-y: scroll;
}

.cp {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.invisible-input {
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: inherit;
  width: 100%;
}

// http methods badges
$http-methods: ('graphql', #e10098), ('get', lighten($blue, 5%)),
  ('put', lighten($orange, 5%)), ('post', lighten($green, 5%)),
  ('delete', lighten($red, 8%)), ('head', lighten($purple, 12%)),
  ('patch', $teal), ('options', lighten($dark-blue, 15%));
$http-methods-light: ('graphql', lighten(#e10098, 10%)),
  ('get', lighten($blue, 10%)), ('put', lighten($orange, 10%)),
  ('post', lighten($green, 10%)), ('delete', lighten($red, 17%)),
  ('head', lighten($purple, 25%)), ('patch', $teal),
  ('options', lighten($dark-blue, 30%));
@each $method in $http-methods-light {
  .http-method-#{nth($method, 1)} {
    background-color: #{nth($method, 2)};
    color: darken($gray-900, 10%);
  }
}
@each $method in $http-methods-light {
  .http-method-#{nth($method, 1)}-text {
    color: #{nth($method, 2)};
  }
}

.flex-fill {
  flex: 1;
}
.flex-none {
  flex: none !important;
}
.z-index-1 {
  z-index: 1;
}

.form-right {
  position: absolute;
  right: 0;
}

.toasts-container {
  z-index: 5000;
  position: absolute;
  width: 250px;
  top: ($spacer / 2) + 2rem;
  right: $spacer / 2;

  .toast {
    word-break: break-word;
  }

  .toast-success {
    .toast-body {
      background-color: $green;
      border-color: lighten($green, 10%);
    }
  }

  .toast-warning {
    .toast-body {
      background-color: $orange;
      border-color: lighten($orange, 10%);
    }
  }

  .toast-error {
    .toast-body {
      background-color: $red;
      border-color: lighten($red, 10%);
    }
  }
}

.message {
  text-align: center;
  font-size: $font-size-lg;
  color: darken($gray-600, 5%);
  font-weight: $font-weight-light;

  &-md {
    font-size: $font-size-md;
  }

  &-sm {
    font-size: $font-size-sm;
  }
}

.warning-message {
  font-size: 0.8rem;
  color: $warning;
}

.resize-column {
  position: absolute;
  width: 4px;
  height: 100%;
  right: 0;
  top: 0;
  cursor: col-resize;

  &:hover {
    animation-name: resizerFadeIn;
    animation-duration: 0.75s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
  }
}

@keyframes resizerFadeIn {
  from {
    box-shadow: inset -4px 0 0 0 rgba($blue, 0);
  }
  to {
    box-shadow: inset -4px 0 0 0 rgba($blue, 0.5);
  }
}

.brackets {
  background-image: linear-gradient($gray-500, $gray-500),
    linear-gradient($gray-500, $gray-500);
  background-repeat: no-repeat;
  background-size: 8px 3px;
  background-position: top left, bottom left;
  border-left: 3px solid $gray-500;
  margin: $spacer / 2;
  width: 11px;
}
