@import 'src/styles/bootstrap-variables.scss';
@import 'src/styles/variables.scss';

.footer {
  color: $gray-400;
  background-color: lighten($gray-900, 5%);
  z-index: 15;

  .footer-item {
    padding: $spacer / 4 $spacer;
    transition: all ease-in-out 200ms;

    &.with-border-left {
      border-left: 1px solid lighten($gray-900, 8%);
    }

    &.with-border-right {
      border-right: 1px solid lighten($gray-900, 8%);
    }

    &:first-of-type {
      border-left: none;
    }
  }
}