<div class="footer">
  <div class="row">
    <div class="col pl-0 pr-0">
      <div
        class="footer-item with-border-right clickable"
        *ngIf="updateAvailable$ | async"
      >
        <button class="btn btn-xs btn-success" (click)="applyUpdate()">
          <i class="material-icons material-icons-xs">update</i> New version
          available, click to {{ platform === 'win32' ? 'apply' : 'download' }}
        </button>
      </div>

      <div class="footer-item with-border-right clickable">
        <app-banner></app-banner>
      </div>

      <div
        class="footer-item float-right with-border-left clickable"
        (click)="openFeedbackLink()"
        ngbTooltip="Send feedback"
      >
        <i class="material-icons">feedback</i>
      </div>

      <div
        *ngIf="appClosing$ | async"
        class="footer-item text-primary animation-flash float-right"
      >
        <i class="material-icons">save</i>
        Saving...
      </div>
    </div>
  </div>
</div>
