<!-- Only display the routes menu if there is at least a selected environment -->
<ng-container *ngIf="activeEnvironment$ | async as activeEnvironment">
  <div class="routes-menu d-flex flex-column h-100" appMousedragDeadzone>
    <div class="menu-header d-flex">
      <ul class="nav d-flex w-100 pt-2 pb-2 align-items-center">
        <li class="nav-item">
          <a
            class="nav-link text-primary"
            (click)="addRoute()"
            ngbTooltip="Add route"
          >
            <i class="material-icons">add_box</i>
          </a>
        </li>
        <li class="nav-item flex-grow-1">
          <div class="input-group" *ngIf="os$ | async as os">
            <input
              type="text"
              class="form-control"
              id="route-filter"
              placeholder="Filter"
              [formControl]="routesFilter"
              [ngbTooltip]="
                'Filter routes (' +
                (os === 'darwin' ? 'Cmd' : 'Ctrl') +
                '+Shift+F)'
              "
              triggers="hover"
              [appFocusOnEvent]="focusableInputs.ROUTE_FILTER"
            />
            <button
              *ngIf="routesFilter.value.length > 0"
              type="button"
              id="route-filter-clear"
              (click)="clearFilter()"
              class="btn btn-custom"
              ngbTooltip="Clear filter"
            >
              <i class="material-icons">clear</i>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <ng-container *ngIf="routeList$ | async as routeList">
      <ul
        class="nav flex-column menu-list"
        #routesMenu
        cdkDropList
        (cdkDropListDropped)="reorderRoutes($event)"
      >
        <li
          class="nav-item"
          *ngFor="let environmentRoute of routeList"
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragBoundary=".routes-menu .nav.menu-list"
          [cdkDragDisabled]="dragIsDisabled"
        >
          <a
            class="nav-link"
            [ngClass]="{
              active: (activeRoute$ | async)?.uuid === environmentRoute.uuid,
              'route-disabled': !environmentRoute.enabled
            }"
            (click)="selectRoute(environmentRoute.uuid)"
            (contextmenu)="openContextMenu(environmentRoute.uuid, $event)"
          >
            <div
              *ngIf="settings$ | async as settings"
              class="route-path"
              [ngClass]="{
                ellipsis: settings.truncateRouteName,
                'text-break': !settings.truncateRouteName
              }"
            >
              <span
                *ngIf="duplicatedRoutes$ | async as duplicatedRoutes"
                class="text-warning"
                ngbTooltip="Route is duplicated (same endpoint and method)"
              >
                <i
                  *ngIf="
                    duplicatedRoutes[activeEnvironment.uuid]?.has(
                      environmentRoute.uuid
                    )
                  "
                  class="material-icons"
                  >warning</i
                >
              </span>
              <span
                class="badge badge-default http-method-{{
                  environmentRoute.method
                }} float-right"
                >{{ environmentRoute.method | uppercase }}</span
              >
              /{{ environmentRoute.endpoint }}
            </div>
            <div class="menu-subtitle ellipsis">
              {{ environmentRoute.documentation }}
            </div>
          </a>
        </li>
      </ul>
    </ng-container>

    <div
      appResizeColumn
      type="routes"
      [minWidth]="menuSize"
      [maxWidthFactor]="0.25"
      class="resize-column"
    ></div>
  </div>
</ng-container>
