@import 'src/renderer/styles/bootstrap-variables.scss';

.title-separator {
  border-bottom: 1px solid lighten($gray-900, 6%);
  margin-bottom: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.25rem;
  margin-top: 1rem;
  color: $gray-400;
  top: -12px;

  &.is-first {
    margin-top: 0;
  }

  &.has-icon {
    border-bottom: none;
    padding-left: 0;

    .title-separator-text {
      margin-left: 22px;
      border-bottom: 1px solid lighten($gray-900, 6%);
      display: grid;
      grid-template-columns: max-content auto;
      column-gap: 1rem;
      align-items: baseline;

      div:nth-child(2) {
        text-align: right;
        font-size: 0.8rem;

        .btn-link {
          padding: 0;
          font-size: 0.8rem;
          vertical-align: inherit;
        }
      }
    }

    .title-separator-icon {
      float: left;
    }
  }
}
