@import 'src/renderer/styles/bootstrap-variables.scss';

.route-path-grid-http {
  display: grid;
  grid-template-columns: 25% min-content auto min-content;
}

.route-path-grid-crud {
  display: grid;
  grid-template-columns: min-content auto min-content;
}

#route-responses-buttons {
  display: grid;
  grid-template-columns: min-content auto min-content;
}

.route-responses-http {
  display: grid;
  grid-template-columns: 10fr min-content 2fr;
}

.route-responses-crud {
  display: grid;
  grid-template-columns: 8fr 2fr min-content 2fr;
}

.route-responses-databucket {
  display: grid;
  grid-template-columns: 66%;
}

.environment-routes-footer {
  border-top: 1px solid lighten($gray-900, 6%);
  line-height: 1.3;
}

.border-bottom-light {
  border-bottom: 1px solid $gray-800;
}
