@import 'src/renderer/styles/bootstrap-variables.scss';

input {
  border-bottom: 1px solid $gray-800;

  &:focus {
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

.dropdown-menu {
  flex-direction: column;
  overflow: hidden;

  &.show {
    display: flex;
  }
}

.dropdown-menu-content {
  overflow-y: auto;
}
