<ng-container *ngIf="environmentLogs$ | async as environmentLogs">
  <ng-container *ngIf="environmentLogs?.length; else emptyLogsTemplate">
    <div class="h-100 environment-logs d-flex">
      <div class="h-100 environment-logs-column">
        <ul class="nav flex-column menu-list h-100">
          <li class="nav-item" *ngFor="let log of environmentLogs">
            <a
              class="nav-link"
              [ngClass]="{
                active: log.UUID === (activeEnvironmentLogUUID$ | async)
              }"
              (click)="selectLog(log.UUID)"
            >
              <div class="d-flex flex-column">
                <div class="d-flex">
                  <div>
                    <span
                      class="badge badge-default ml-0 mr-3 http-method-{{
                        log.method | lowercase
                      }} route-method"
                      >{{ log.method | uppercase }}</span
                    >
                  </div>
                  <div class="ellipsis route">{{ log.url }}</div>
                  <div class="ml-auto pl-1 d-flex">
                    <div>
                      <button
                        type="button"
                        class="btn btn-link btn-icon btn-mock"
                        (click)="createRouteFromLog(log.UUID)"
                      >
                        <app-svg
                          icon="control_point_duplicate"
                          ngbTooltip="Mock"
                        ></app-svg>
                      </button>
                    </div>
                    <div>
                      <span *ngIf="log.route" class="float-right text-success">
                        <app-svg
                          icon="check"
                          ngbTooltip="Request caught"
                        ></app-svg>
                      </span>
                    </div>
                    <div>
                      <span
                        *ngIf="!log.route && log.proxied"
                        class="float-right text-primary"
                      >
                        <app-svg
                          icon="security"
                          ngbTooltip="Request proxied"
                        ></app-svg>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="menu-subtitle ellipsis">
                  {{ log.timestamp | date: 'yyyy-MM-dd HH:mm:ss:SSS' }}
                </div>
              </div>
            </a>
          </li>
        </ul>
        <div
          appResizeColumn
          type="logs"
          [minWidth]="menuSize"
          [maxWidthFactor]="0.2"
          class="resize-column"
        ></div>
      </div>

      <div class="col h-100 environment-logs-column">
        <div
          *ngIf="activeEnvironmentLog$ | async as selectedLog"
          class="environment-logs-content d-flex flex-column h-100"
        >
          <ng-container
            *ngIf="
              activeEnvironmentLogsTab$ | async as activeEnvironmentLogsTab
            "
          >
            <div class="d-flex justify-content-between">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [ngClass]="{
                      active: activeEnvironmentLogsTab === 'REQUEST'
                    }"
                    (click)="setActiveTab('REQUEST')"
                    >Request <app-svg icon="call_received"></app-svg
                  ></a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    [ngClass]="{
                      active: activeEnvironmentLogsTab === 'RESPONSE'
                    }"
                    (click)="setActiveTab('RESPONSE')"
                    >Response <app-svg icon="call_made"></app-svg>
                  </a>
                </li>
              </ul>

              <div>
                <button
                  *ngIf="environmentLogs?.length"
                  type="button"
                  class="btn btn-link btn-icon pl-2 float-right {{
                    (clearEnvironmentLogsRequested$ | async).enabled
                      ? 'text-danger'
                      : ''
                  }}"
                  [ngbTooltip]="
                    (clearEnvironmentLogsRequested$ | async).enabled
                      ? 'Confirm'
                      : 'Clear logs'
                  "
                  (click)="clearEnvironmentLogs()"
                >
                  <app-svg icon="delete"></app-svg>
                </button>
              </div>
            </div>

            <div class="environment-logs-content-container">
              <div
                *ngIf="activeEnvironmentLogsTab === 'REQUEST'"
                class="environment-logs-content-request p-2"
              >
                <div
                  class="environment-logs-content-title"
                  (click)="
                    collapseStates['request.general'] =
                      !collapseStates['request.general']
                  "
                >
                  <app-svg
                    [icon]="
                      collapseStates['request.general']
                        ? 'unfold_more'
                        : 'unfold_less'
                    "
                  ></app-svg>

                  General
                </div>
                <div [ngbCollapse]="collapseStates['request.general']">
                  <div class="environment-logs-content-item">
                    <strong>Request URL:</strong> {{ selectedLog.url }}
                  </div>
                  <div class="environment-logs-content-item">
                    <strong>Method:</strong>
                    {{ selectedLog.method | uppercase }}
                  </div>
                  <div
                    *ngIf="selectedLog.route"
                    class="environment-logs-content-item"
                  >
                    <strong>Caught by route:</strong> {{ selectedLog.route }}
                  </div>
                </div>

                <!-- Headers -->
                <div
                  class="environment-logs-content-title"
                  (click)="
                    collapseStates['request.headers'] =
                      !collapseStates['request.headers']
                  "
                >
                  <app-svg
                    [icon]="
                      selectedLog?.request?.headers.length &&
                      collapseStates['request.headers']
                        ? 'unfold_more'
                        : 'unfold_less'
                    "
                  ></app-svg>

                  Headers ({{ selectedLog?.request?.headers?.length }})
                </div>
                <div [ngbCollapse]="collapseStates['request.headers']">
                  <div
                    class="environment-logs-content-item"
                    *ngFor="let header of selectedLog?.request?.headers"
                  >
                    <strong>{{ header.key | titlecase }}:</strong>
                    {{ header.value }}
                  </div>
                </div>

                <!-- Route params -->
                <div
                  class="environment-logs-content-title"
                  (click)="
                    collapseStates['request.routeParams'] =
                      !collapseStates['request.routeParams']
                  "
                >
                  <app-svg
                    [icon]="
                      selectedLog?.request?.params.length &&
                      collapseStates['request.routeParams']
                        ? 'unfold_more'
                        : 'unfold_less'
                    "
                  ></app-svg>

                  Route params ({{ selectedLog?.request?.params?.length }})
                </div>
                <div [ngbCollapse]="collapseStates['request.routeParams']">
                  <div
                    class="environment-logs-content-item"
                    *ngFor="let param of selectedLog?.request?.params"
                  >
                    <strong>{{ param.name }}:</strong> {{ param.value }}
                  </div>
                </div>

                <!-- Query params -->
                <div
                  class="environment-logs-content-title"
                  (click)="
                    collapseStates['request.queryParams'] =
                      !collapseStates['request.queryParams']
                  "
                >
                  <app-svg
                    [icon]="
                      selectedLog?.request?.queryParams.length &&
                      collapseStates['request.queryParams']
                        ? 'unfold_more'
                        : 'unfold_less'
                    "
                  ></app-svg>

                  Query params ({{ selectedLog?.request?.queryParams?.length }})
                </div>
                <div [ngbCollapse]="collapseStates['request.queryParams']">
                  <div
                    class="environment-logs-content-item"
                    *ngFor="let queryParam of selectedLog?.request?.queryParams"
                  >
                    <strong>{{ queryParam.name }}:</strong>
                    {{ queryParam.value }}
                  </div>
                </div>

                <!-- Body -->
                <div class="environment-logs-content-title d-flex">
                  <div
                    (click)="
                      collapseStates['request.body'] =
                        !collapseStates['request.body']
                    "
                  >
                    <app-svg
                      [icon]="
                        selectedLog?.request?.body &&
                        collapseStates['request.body']
                          ? 'unfold_more'
                          : 'unfold_less'
                      "
                    ></app-svg>

                    Body ({{ !selectedLog?.request?.body ? 'none' : 'raw' }})
                  </div>
                  <div class="ml-auto">
                    <span
                      *ngIf="selectedLog?.request?.truncatedBody"
                      class="btn btn-link btn-icon text-primary p-0 environment-logs-open-request-body"
                      (click)="viewBodyInEditor(selectedLog.request, 'request')"
                      >View full body in editor</span
                    >
                  </div>
                </div>
                <div [ngbCollapse]="collapseStates['request.body']">
                  <div class="environment-logs-content-item pre">
                    {{ selectedLog?.request?.truncatedBody }}
                  </div>
                </div>
              </div>

              <div
                *ngIf="
                  activeEnvironmentLogsTab === 'RESPONSE' &&
                  selectedLog.response
                "
                class="environment-logs-content-response p-2"
              >
                <!-- General Response -->
                <div
                  class="environment-logs-content-title"
                  (click)="
                    collapseStates['response.general'] =
                      !collapseStates['response.general']
                  "
                >
                  <app-svg
                    [icon]="
                      collapseStates['response.general']
                        ? 'unfold_more'
                        : 'unfold_less'
                    "
                  ></app-svg>

                  General
                </div>
                <div [ngbCollapse]="collapseStates['response.general']">
                  <div class="environment-logs-content-item">
                    <strong>Status:</strong> {{ selectedLog.response?.status }}
                  </div>
                </div>

                <!-- Response Headers -->
                <div
                  class="environment-logs-content-title"
                  (click)="
                    collapseStates['response.headers'] =
                      !collapseStates['response.headers']
                  "
                >
                  <app-svg
                    [icon]="
                      selectedLog.response?.headers.length &&
                      collapseStates['response.headers']
                        ? 'unfold_more'
                        : 'unfold_less'
                    "
                  ></app-svg>

                  Headers ({{ selectedLog?.response?.headers?.length }})
                </div>
                <div [ngbCollapse]="collapseStates['response.headers']">
                  <div
                    class="environment-logs-content-item"
                    *ngFor="let header of selectedLog?.response?.headers"
                  >
                    <strong>{{ header.key | titlecase }}:</strong>
                    {{ header.value }}
                  </div>
                </div>

                <!-- Response Body -->
                <div class="environment-logs-content-title d-flex">
                  <div
                    (click)="
                      collapseStates['response.body'] =
                        !collapseStates['response.body']
                    "
                  >
                    <app-svg
                      [icon]="
                        selectedLog.response?.body &&
                        collapseStates['response.body']
                          ? 'unfold_more'
                          : 'unfold_less'
                      "
                    ></app-svg>

                    Body ({{
                      !selectedLog.response?.bodyState
                        ? 'none'
                        : selectedLog.response?.bodyState
                    }})
                  </div>
                  <div *ngIf="!selectedLog.response.binaryBody" class="ml-auto">
                    <span
                      *ngIf="selectedLog?.response?.truncatedBody"
                      class="btn btn-link btn-icon text-primary p-0 environment-logs-open-response-body"
                      (click)="
                        viewBodyInEditor(selectedLog.response, 'response')
                      "
                      >View full body in editor</span
                    >
                  </div>
                </div>
                <div [ngbCollapse]="collapseStates['response.body']">
                  <div
                    *ngIf="!selectedLog.response.binaryBody"
                    class="environment-logs-content-item pre"
                  >
                    {{ selectedLog.response?.truncatedBody }}
                  </div>
                  <div
                    *ngIf="selectedLog.response.binaryBody"
                    class="environment-logs-content-item"
                  >
                    <p class="message mt-4">
                      Binary content - No preview available
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #emptyLogsTemplate>
  <p class="message mt-4">No records yet</p>
</ng-template>
