@import 'src/styles/bootstrap-variables.scss';

.modal-body__environment-information {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

.environment-information__item {
  pointer-events: none;
}

.target-environment__item {
  border-color: $gray-800;
  background: none;
  border-radius: 0;

  &:hover {
    background: $gray-900;
    cursor: pointer;
  }
}
