.animation-flash {
  opacity: 1;
  animation: flash 1s linear infinite;
}

@keyframes flash {
  50% {
    opacity: 0.3;
  }
}

.animation-fast-highlight {
  background: initial;
  animation: highlight 0.5s linear 3;
}

@keyframes highlight {
  50% {
    background-color: lighten($custom-gray, 5%);
  }
}

@keyframes fadeIn {
  from {
    box-shadow: inset -4px 0 0 0 rgba($blue, 0);
  }
  to {
    box-shadow: inset -4px 0 0 0 rgba($blue, 0.8);
  }
}
