<div class="context-menu" *ngIf="show" [ngStyle]="position" (mouseleave)="mouseLeave()" (mouseenter)="mouseEnter()">
  <div *ngFor="let item of items; let itemIndex = index" class="context-menu-item" (click)="action(item, itemIndex, $event)">
    <span *ngIf="confirmIndex !== itemIndex"><i class="material-icons">{{item.icon}}</i> {{item.label}}</span>
    <span *ngIf="confirmIndex === itemIndex" [ngClass]="item.confirmColor"><i class="material-icons">{{item.confirm.icon}}</i> {{item.confirm.label}}</span>
  </div>
</div>
