@import "src/custom_bootstrap.scss";

.context-menu {
  z-index: 5000;
  position: fixed;
  background-color: rgba(lighten($gray-900, 9%), 0.95);
  border: 1px solid lighten($gray-900, 10%);
  min-width: 180px;

  &-item {
    transition: all ease-in-out 200ms;
    padding: 6px;
    color: $gray-400;
    font-size: $font-size-sm;

    &:not(:last-of-type) {
      border-bottom: 1px solid lighten($gray-900, 11%);
    }

    &:hover {
      background-color: lighten($gray-900, 12%);
      color: $gray-200;
    }

    &.is-separator {
      border-bottom: 2px solid lighten($gray-900, 3%);
    }
  }
}
