@import '../../custom_bootstrap.scss';

$logs-border: 1px solid lighten($gray-900, 1%);

.environment-logs {
  border-top: $logs-border;

  &-column {
    overflow-x: hidden;
    overflow-y: auto;

    &:last-of-type {
      border-left: $logs-border;
    }
  }

  &-content {
    word-break: break-all;

    &-title {
      cursor: pointer;
      color: darken($gray-300, 40%);
      font-weight: $font-weight-bold;
      margin-bottom: 6px ;

      &:not(:first-of-type) {
        margin-top: 10px ;
      }
    }

    &-item {
      font-size: $font-size-sm;
      margin-left: 14px;
      user-select: text;

      &:not(:first-of-type) {
        margin-top: 0.25rem;
      }

      &.pre {
        white-space: pre-wrap;
      }
    }
  }
}
