<ng-template #modal let-close="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Settings</h4>
  </div>
  <div class="modal-body">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="analytics" name="analytics" [(ngModel)]="this.settings.analytics" (ngModelChange)="settingsUpdated()">
      <label class="custom-control-label" for="analytics">I agree to share anonymous usage data</label>
    </div>
    <p class="text-muted"><small>We are using a basic Google Analytics setup, none of your data/content is kept anywhere and it helps us improve Mockoon :)</small></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Close</button>
  </div>
</ng-template>
