@import 'src/styles/bootstrap-variables.scss';
@import 'src/styles/variables.scss';

.routes-menu {
  background: $gray-900;
  border-right: 1px solid lighten($gray-900, 2%);
  width: $routes-menu-width;
}
