<ng-container *ngIf="banner$ | async as banner">
  <ng-container *ngIf="banner.enabled">
    <button
      class="btn"
      [ngClass]="banner.classes"
      [ngStyle]="banner.styles"
      (click)="openLink(banner)"
    >
      <span *ngIf="banner.iconName">
        <i class="material-icons">{{ banner.iconName }}</i>
      </span>
      {{ banner.text }}
    </button>
    <div class="btn p-0 text-secondary" (click)="dismissBanner(banner)">
      <i class="material-icons">close</i>
    </div>
  </ng-container>
</ng-container>
