<ng-template #modal let-close="close" let-d="dismiss">
  <ng-container *ngIf="settings$ | async as settings">
    <div class="modal-header">
      <h4 class="modal-title">Settings</h4>
    </div>
    <div class="modal-body">
      <app-title-separator
        heading="User interface"
        [isFirst]="true"
        icon="web_asset"
        iconClasses="text-primary"
      ></app-title-separator>

      <div class="pl-3">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="truncate-route-name"
              name="truncateRouteName"
              [ngModel]="settings.truncateRouteName"
              (ngModelChange)="settingsUpdated($event, 'truncateRouteName')"
            />
            <label class="custom-control-label" for="truncate-route-name"
              >Truncate long route paths in routes list</label
            >
          </div>
        </div>
      </div>

      <app-title-separator
        heading="Environment logs"
        [isFirst]="true"
        icon="history"
        iconClasses="text-primary"
      ></app-title-separator>

      <div class="pl-3">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pl-0"
                >Maximum log entries (per environment):</span
              >
            </div>
            <input
              type="number"
              class="form-control col-1"
              id="log-max-count"
              [appInputNumber]="{ min: 1, max: Infinity, canBeEmpty: false }"
              [ngModel]="settings.maxLogsPerEnvironment"
              (ngModelChange)="settingsUpdated($event, 'maxLogsPerEnvironment')"
            />
            <div class="input-group-prepend">
              <span class="input-group-text pl-0">&nbsp;logs</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pl-0">Log's body size:</span>
            </div>
            <input
              type="number"
              class="form-control col-2"
              id="log-body-size"
              [appInputNumber]="{ min: 1, max: Infinity, canBeEmpty: false }"
              placeholder="10000 (default)"
              [ngModel]="settings.logSizeLimit"
              (ngModelChange)="settingsUpdated($event, 'logSizeLimit')"
            />
            <div class="input-group-prepend">
              <span class="input-group-text pl-0">&nbsp;characters</span>
            </div>
          </div>
          <p class="text-muted">
            <small
              >Truncate the entering requests and exiting responses bodies if
              bigger than {{ settings.logSizeLimit }} characters.</small
            >
          </p>
        </div>
      </div>

      <app-title-separator
        heading="Faker.js"
        subheading="Templating system supports Faker.js"
        icon="code"
        iconClasses="text-primary"
        docLink="templating"
      ></app-title-separator>

      <div class="pl-3">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pl-0">Locale:</span>
            </div>
            <select
              class="custom-select col-2"
              id="faker-locale"
              [ngModel]="settings.fakerLocale"
              (ngModelChange)="settingsUpdated($event, 'fakerLocale')"
            >
              <option
                *ngFor="let fakerLocale of fakerLocales"
                [value]="fakerLocale.code"
                [selected]="settings.fakerLocale === fakerLocale.code"
              >
                {{ fakerLocale.label }}
              </option>
            </select>
          </div>
          <p class="text-muted">
            <small
              >Set Faker.js's primary locale. Faker.js will fallback to
              "English" for helpers not covered by this locale.</small
            >
          </p>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pl-0">Seed:</span>
            </div>
            <input
              type="number"
              class="form-control col-4"
              id="faker-seed"
              placeholder="Number or empty for no seed"
              [appInputNumber]="{ min: 0, max: Infinity, canBeEmpty: true }"
              [ngModel]="settings.fakerSeed"
              (ngModelChange)="settingsUpdated($event, 'fakerSeed')"
            />
          </div>
          <p class="text-muted">
            <small
              >By setting a seed, Faker.js will always generate the same data.
              Application must be restarted after removing the seed.</small
            >
          </p>
        </div>
      </div>

      <app-title-separator
        heading="Analytics & telemetry"
        icon="show_chart"
        iconClasses="text-primary"
      ></app-title-separator>

      <div class="pl-3">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="analytics"
              name="analytics"
              [ngModel]="settings.analytics"
              (ngModelChange)="settingsUpdated($event, 'analytics')"
            />
            <label class="custom-control-label" for="analytics"
              >I agree to share anonymous usage data</label
            >
          </div>
          <p class="text-muted">
            <small
              >We are using a basic Google Analytics setup, none of your
              data/content is kept anywhere and it helps us improve Mockoon
              :)</small
            >
          </p>
        </div>
      </div>

      <div class="pl-3">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="enableTelemetry"
              name="enableTelemetry"
              [ngModel]="settings.enableTelemetry"
              (ngModelChange)="settingsUpdated($event, 'enableTelemetry')"
            />
            <label class="custom-control-label" for="enableTelemetry"
              >Enable telemetry (restart needed)</label
            >
          </div>
          <p class="text-muted">
            <small
              >Our custom telemetry system is collecting a minimal amount of
              information and no personal data. Read more in our FAQ<span
                (click)="openWikiLink('faq')"
                class="pl-2 btn btn-link text-primary cp doc-link"
                ><i class="material-icons">info</i></span
              ></small
            >
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Close
      </button>
    </div>
  </ng-container>
</ng-template>
