swagger: '2.0'
schemes:
  - https
host: api.github.com
basePath: /
info:
  description: |
    Powerful collaboration, code review, and code management for open source and private projects.
  termsOfService: 'https://help.github.com/articles/github-terms-of-service/#b-api-terms'
  title: GitHub
  version: v3
  x-apisguru-categories:
    - collaboration
    - developer_tools
  x-logo:
    url: 'https://twitter.com/github/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/github.com/v3/swagger.yaml'
      version: '2.0'
  x-providerName: github.com
  x-unofficialSpec: true
  x-preferred: false
externalDocs:
  url: 'https://developer.github.com/v3/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oauth_2_0:
    authorizationUrl: 'https://github.com/login/oauth/authorize'
    description: |
      OAuth2 is a protocol that lets external apps request authorization to private
      details in a user's GitHub account without getting their password. This is
      preferred over Basic Authentication because tokens can be limited to specific
      types of data, and can be revoked by users at any time.
    flow: accessCode
    scopes:
      'admin:org': ''
      'admin:org_hook': ''
      'admin:public_key': ''
      'admin:repo_hook': ''
      delete_repo: ''
      gist: ''
      notifications: ''
      public_repo: ''
      'read:org': ''
      'read:public_key': ''
      'read:repo_hook': ''
      repo: ''
      'repo:status': ''
      repo_deployment: ''
      user: ''
      'user:email': ''
      'user:follow': ''
      'write:org': ''
      'write:public_key': ''
      'write:repo_hook': ''
    tokenUrl: 'https://github.com/login/oauth/access_token'
    type: oauth2
paths:
  /emojis:
    get:
      description: Lists all the emojis available to use on GitHub.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/emojis'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /events:
    get:
      description: List public events.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/events'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /feeds:
    get:
      description: |
        List Feeds.
        GitHub provides several timeline resources in Atom format. The Feeds API
         lists all the feeds available to the authenticating user.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/feeds'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /gists:
    get:
      description: |
        List the authenticated user's gists or if called anonymously, this will
        return all public gists.
      parameters:
        - description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          in: query
          name: since
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gists'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    post:
      description: Create a gist.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/postGist'
      responses:
        '201':
          description: Created
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gist'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /gists/public:
    get:
      description: List all public gists.
      parameters:
        - description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          in: query
          name: since
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gists'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /gists/starred:
    get:
      description: List the authenticated user's starred gists.
      parameters:
        - description: |
            Timestamp in ISO 8601 format YYYY-MM-DDTHH:MM:SSZ.
            Only gists updated at or after this time are returned.
          in: query
          name: since
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gists'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/gists/{id}':
    delete:
      description: Delete a gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: |
            No content.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: Get a single gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gist'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    patch:
      description: Edit a gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/patchGist'
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gist'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/gists/{id}/comments':
    get:
      description: List comments on a gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/comments'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    post:
      description: Create a commen
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/commentBody'
      responses:
        '201':
          description: Created
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/comment'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/gists/{id}/comments/{commentId}':
    delete:
      description: Delete a comment.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Id of comment.
          in: path
          name: commentId
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: |
            No content.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: Get a single comment.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Id of comment.
          in: path
          name: commentId
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/comment'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    patch:
      description: Edit a comment.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Id of comment.
          in: path
          name: commentId
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/comment'
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/comment'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/gists/{id}/forks':
    post:
      description: Fork a gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Exists.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '404':
          description: Not exists.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/gists/{id}/star':
    delete:
      description: Unstar a gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Item removed.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: Check if a gist is starred.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Exists.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '404':
          description: Not exists.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    put:
      description: Star a gist.
      parameters:
        - description: Id of gist.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Starred.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /gitignore/templates:
    get:
      description: |
        Listing available templates.
        List all templates available to pass as an option when creating a repository.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gitignore'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/gitignore/templates/{language}':
    get:
      description: Get a single template.
      parameters:
        - in: path
          name: language
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/gitignore-lang'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /issues:
    get:
      description: |
        List issues.
        List all issues across all the authenticated user's visible repositories.
      parameters:
        - default: all
          description: |
            Issues assigned to you / created by you / mentioning you / you're
            subscribed to updates for / All issues the authenticated user can see
          enum:
            - assigned
            - created
            - mentioned
            - subscribed
            - all
          in: query
          name: filter
          required: true
          type: string
        - default: open
          enum:
            - open
            - closed
          in: query
          name: state
          required: true
          type: string
        - description: 'String list of comma separated Label names. Example - bug,ui,@high.'
          in: query
          name: labels
          required: true
          type: string
        - default: created
          enum:
            - created
            - updated
            - comments
          in: query
          name: sort
          required: true
          type: string
        - default: desc
          enum:
            - asc
            - desc
          in: query
          name: direction
          required: true
          type: string
        - description: |
            Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
            Only issues updated at or after this time are returned.
          in: query
          name: since
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/issues'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/legacy/issues/search/{owner}/{repository}/{state}/{keyword}':
    get:
      deprecated: true
      description: Find issues by state and keyword.
      parameters:
        - description: The search term.
          in: path
          name: keyword
          required: true
          type: string
        - description: Indicates the state of the issues to return. Can be either open or closed.
          enum:
            - open
            - closed
          in: path
          name: state
          required: true
          type: string
        - in: path
          name: owner
          required: true
          type: string
        - in: path
          name: repository
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/search-issues-by-keyword'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/legacy/repos/search/{keyword}':
    get:
      deprecated: true
      description: 'Find repositories by keyword. Note, this legacy method does not follow the v3 pagination pattern. This method returns up to 100 results per page and pages can be fetched using the start_page parameter.'
      parameters:
        - description: The search term
          in: path
          name: keyword
          required: true
          type: string
        - default: desc
          description: The sort field. if sort param is provided. Can be either asc or desc.
          enum:
            - desc
            - asc
          in: query
          name: order
          type: string
        - description: Filter results by language
          in: query
          name: language
          type: string
        - description: The page number to fetch
          in: query
          name: start_page
          type: string
        - description: 'The sort field. One of stars, forks, or updated. Default: results are sorted by best match.'
          enum:
            - updated
            - stars
            - forks
          in: query
          name: sort
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/search-repositories-by-keyword'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/legacy/user/email/{email}':
    get:
      deprecated: true
      description: This API call is added for compatibility reasons only.
      parameters:
        - description: The email address
          in: path
          name: email
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/search-user-by-email'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/legacy/user/search/{keyword}':
    get:
      deprecated: true
      description: Find users by keyword.
      parameters:
        - description: The search term
          in: path
          name: keyword
          required: true
          type: string
        - default: desc
          description: The sort field. if sort param is provided. Can be either asc or desc.
          enum:
            - desc
            - asc
          in: query
          name: order
          type: string
        - description: The page number to fetch
          in: query
          name: start_page
          type: string
        - description: 'The sort field. One of stars, forks, or updated. Default: results are sorted by best match.'
          enum:
            - updated
            - stars
            - forks
          in: query
          name: sort
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/search-users-by-keyword'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /markdown:
    post:
      description: Render an arbitrary Markdown document
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/markdown'
      produces:
        - text/html
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /markdown/raw:
    post:
      consumes:
        - text/plain
      description: Render a Markdown document in raw mode
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      produces:
        - text/html
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /meta:
    get:
      description: 'This gives some information about GitHub.com, the service.'
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/meta'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/networks/{owner}/{repo}/events':
    get:
      description: List public events for a network of repositories.
      parameters:
        - description: Name of the owner.
          in: path
          name: owner
          required: true
          type: string
        - description: Name of repository.
          in: path
          name: repo
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/events'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /notifications:
    get:
      description: |
        List your notifications.
        List all notifications for the current user, grouped by repository.
      parameters:
        - description: True to show notifications marked as read.
          in: query
          name: all
          type: boolean
        - description: |
            True to show only notifications in which the user is directly participating
            or mentioned.
          in: query
          name: participating
          type: boolean
        - description: |
            The time should be passed in as UTC in the ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
            Example: "2012-10-09T23:39:01Z".
          in: query
          name: since
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/notifications'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    put:
      description: |
        Mark as read.
        Marking a notification as "read" removes it from the default view on GitHub.com.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/notificationMarkRead'
      responses:
        '205':
          description: Marked as read.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/notifications/threads/{id}':
    get:
      description: View a single thread.
      parameters:
        - description: Id of thread.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/notifications'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    patch:
      description: Mark a thread as read
      parameters:
        - description: Id of thread.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '205':
          description: Thread marked as read.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/notifications/threads/{id}/subscription':
    delete:
      description: Delete a Thread Subscription.
      parameters:
        - description: Id of thread.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: |
            No Content
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: Get a Thread Subscription.
      parameters:
        - description: Id of thread.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/subscription'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    put:
      description: |
        Set a Thread Subscription.
        This lets you subscribe to a thread, or ignore it. Subscribing to a thread
        is unnecessary if the user is already subscribed to the repository. Ignoring
        a thread will mute all future notifications (until you comment or get @mentioned).
      parameters:
        - description: Id of thread.
          in: path
          name: id
          required: true
          type: integer
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/putSubscription'
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/subscription'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}':
    get:
      description: Get an Organization.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/organization'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    patch:
      description: Edit an Organization.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/patchOrg'
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/organization'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/events':
    get:
      description: List public events for an organization.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/events'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/issues':
    get:
      description: |
        List issues.
        List all issues for a given organization for the authenticated user.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - default: all
          description: |
            Issues assigned to you / created by you / mentioning you / you're
            subscribed to updates for / All issues the authenticated user can see
          enum:
            - assigned
            - created
            - mentioned
            - subscribed
            - all
          in: query
          name: filter
          required: true
          type: string
        - default: open
          enum:
            - open
            - closed
          in: query
          name: state
          required: true
          type: string
        - description: 'String list of comma separated Label names. Example - bug,ui,@high.'
          in: query
          name: labels
          required: true
          type: string
        - default: created
          enum:
            - created
            - updated
            - comments
          in: query
          name: sort
          required: true
          type: string
        - default: desc
          enum:
            - asc
            - desc
          in: query
          name: direction
          required: true
          type: string
        - description: |
            Optional string of a timestamp in ISO 8601 format: YYYY-MM-DDTHH:MM:SSZ.
            Only issues updated at or after this time are returned.
          in: query
          name: since
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/issues'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/members':
    get:
      description: |
        Members list.
        List all users who are members of an organization. A member is a user tha
        belongs to at least 1 team in the organization. If the authenticated user
        is also an owner of this organization then both concealed and public members
        will be returned. If the requester is not an owner of the organization the
        query will be redirected to the public members list.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/users'
        '302':
          description: Response if requester is not an organization member.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/members/{username}':
    delete:
      description: |
        Remove a member.
        Removing a user from this list will remove them from all teams and they
        will no longer have any access to the organization's repositories.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Name of the user.
          in: path
          name: username
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: |
            No content.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: 'Check if a user is, publicly or privately, a member of the organization.'
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Name of the user.
          in: path
          name: username
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: |
            No content. Response if requester is an organization member and user is a member
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '302':
          description: |
            Found. Response if requester is not an organization member
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '404':
          description: |
            Not Found.
            a. Response if requester is an organization member and user is not a member
            b. Response if requester is not an organization member and is inquiring about themselves
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/public_members':
    get:
      description: |
        Public members list.
        Members of an organization can choose to have their membership publicized
        or not.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/users'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/public_members/{username}':
    delete:
      description: Conceal a user's membership.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Name of the user.
          in: path
          name: username
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Concealed.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: Check public membership.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Name of the user.
          in: path
          name: username
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: User is a public member.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '404':
          description: User is not a public member.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    put:
      description: Publicize a user's membership.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Name of the user.
          in: path
          name: username
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Publicized.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/repos':
    get:
      description: List repositories for the specified org.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - default: all
          enum:
            - all
            - public
            - private
            - forks
            - sources
            - member
          in: query
          name: type
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/repos'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    post:
      description: |
        Create a new repository for the authenticated user. OAuth users must supply
        repo scope.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/postRepo'
      responses:
        '201':
          description: Created
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/repos'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/orgs/{org}/teams':
    get:
      description: List teams.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/teams'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    post:
      description: |
        Create team.
        In order to create a team, the authenticated user must be an owner of organization.
      parameters:
        - description: Name of organisation.
          in: path
          name: org
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/orgTeamsPost'
      responses:
        '201':
          description: Created
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/team'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  /rate_limit:
    get:
      description: |
        Get your current rate limit status
        Note: Accessing this endpoint does not count against your rate limit.
      parameters:
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/rate_limit'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/repos/{owner}/{repo}':
    delete:
      description: |
        Delete a Repository.
        Deleting a repository requires admin access. If OAuth is used, the delete_repo
        scope is required.
      parameters:
        - description: Name of repository owner.
          in: path
          name: owner
          required: true
          type: string
        - description: Name of repository.
          in: path
          name: repo
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: Item removed.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    get:
      description: Get repository.
      parameters:
        - description: Name of repository owner.
          in: path
          name: owner
          required: true
          type: string
        - description: Name of repository.
          in: path
          name: repo
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/repo'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
    patch:
      description: Edit repository.
      parameters:
        - description: Name of repository owner.
          in: path
          name: owner
          required: true
          type: string
        - description: Name of repository.
          in: path
          name: repo
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/repoEdit'
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/repo'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/repos/{owner}/{repo}/assignees':
    get:
      description: |
        List assignees.
        This call lists all the available assignees (owner + collaborators) to which
        issues may be assigned.
      parameters:
        - description: Name of repository owner.
          in: path
          name: owner
          required: true
          type: string
        - description: Name of repository.
          in: path
          name: repo
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
          schema:
            $ref: '#/definitions/assignees'
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
  '/repos/{owner}/{repo}/assignees/{assignee}':
    get:
      description: |
        Check assignee.
        You may also check to see if a particular user is an assignee for a repository.
      parameters:
        - description: Name of repository owner.
          in: path
          name: owner
          required: true
          type: string
        - description: Name of repository.
          in: path
          name: repo
          required: true
          type: string
        - description: Login of the assignee.
          in: path
          name: assignee
          required: true
          type: string
        - description: Is used to set specified media type.
          in: header
          name: Accept
          type: string
      responses:
        '204':
          description: User is an assignee.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '403':
          description: |
            API rate limit exceeded. See http://developer.github.com/v3/#rate-limiting
            for details.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
              type: string
            X-GitHub-Request-Id:
              type: integer
            X-RateLimit-Limit:
              type: integer
            X-RateLimit-Remaining:
              type: integer
            X-RateLimit-Reset:
              type: integer
        '404':
          description: User isn't an assignee.
          headers:
            X-GitHub-Media-Type:
              description: |
                You can check the current version of media type in responses.
[...]
