openapi: 3.0.0
servers:
  - url: 'https://api.shutterstock.com'
info:
  contact:
    x-twitter: Shutterstock
  description: 'The Shutterstock API provides access to Shutterstock''s library of media, as well as information about customers'' accounts and the contributors that provide the media.'
  title: Shutterstock API Explorer
  version: 1.0.16
  x-apisguru-categories:
    - media
  x-logo:
    url: 'https://twitter.com/Shutterstock/profile_image?size=original'
  x-origin:
    - format: openapi
      url: 'https://api-explorer.shutterstock.com/openapi.json'
      version: '3.0'
  x-providerName: shutterstock.com
paths:
  /v2/audio:
    get:
      description: 'This endpoint lists information about one or more audio tracks, including the description and publication date.'
      operationId: getTrackList
      parameters:
        - description: One or more audio IDs
          example:
            - '442583'
            - '434750'
          in: query
          name: id
          required: true
          schema:
            items:
              type: string
            minItems: 1
            type: array
        - description: Amount of detail to render in the response
          example: full
          in: query
          name: view
          schema:
            default: minimal
            enum:
              - minimal
              - full
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - added_date: '2016-04-12'
                        album:
                          id: ''
                          title: ''
                        artists:
                          - name: Fin Productions
                        assets:
                          clean_audio:
                            file_size: 30760372
                          preview_mp3:
                            file_size: 3846606
                            url: 'https://ak.picdn.net/shutterstock/audio/434750/preview/preview.mp3'
                          preview_ogg:
                            file_size: 4402608
                            url: 'https://ak.picdn.net/shutterstock/audio/434750/preview/preview.ogg'
                          waveform:
                            file_size: 19822
                            url: 'https://ak.picdn.net/shutterstock/audio/434750/waveform/waveform.png'
                        bpm: 100
                        contributor:
                          id: '2847971'
                        description: 'Pulsing and feel-good, featuring slick electric guitar, synthesizer, bass, electronic drum pads and drums that create a positive, celebratory mood.'
                        duration: 160
                        genres:
                          - Dance/Electronic
                          - Electro Pop
                          - Pop/Rock
                        id: '434750'
                        instruments:
                          - Bass
                          - Drums
                          - Electric guitar
                          - Pads
                          - Percussion
                          - Synthesizer
                        is_adult: false
                        is_instrumental: true
                        isrc: ''
                        keywords:
                          - breezy
                          - celebration
                          - festive
                          - good times
                          - hopeful
                          - optimistic
                          - party
                          - positive
                          - reflective
                        language: en
                        lyrics: ''
                        media_type: audio
                        moods:
                          - Bright
                          - Confident
                          - Fun
                          - Happy
                          - Inspiring
                          - Optimistic
                          - Playful
                          - Sophisticated
                          - Stylish
                          - Uplifting
                        published_time: '2016-04-12T17:45:29-04:00'
                        recording_version: ''
                        releases: []
                        similar_artists: []
                        title: Fresh Love
                        updated_time: '2016-08-18T18:03:11-04:00'
                        url: 'https://www.shutterstock.com/music/track/another-tomorrow/442583'
                        vocal_description: ''
              schema:
                $ref: '#/components/schemas/AudioDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio tracks
      tags:
        - audio
  /v2/audio/collections:
    get:
      description: This endpoint lists your collections of audio tracks and their basic attributes.
      operationId: getSoundboxList
      parameters:
        - description: Page number
          example: '1'
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          example: '100'
          in: query
          name: per_page
          schema:
            default: 100
            maximum: 150
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - created_time: '2014-11-05T19:29:56-05:00'
                        id: '5747953'
                        name: Test Collection cdad
                        total_item_count: 0
                        updated_time: '2014-11-05T19:29:56-05:00'
                      - created_time: '2014-11-05T19:29:56-05:00'
                        id: '5747955'
                        name: Test Collection ff5f
                        total_item_count: 0
                        updated_time: '2014-11-05T19:29:56-05:00'
                      - created_time: '2014-11-05T19:29:58-05:00'
                        id: '5747957'
                        name: Updated Collection ebc4
                        total_item_count: 0
                        updated_time: '2014-11-05T19:29:58-05:00'
                      - created_time: '2014-11-05T19:32:13-05:00'
                        id: '5747971'
                        name: Test Collection 0072
                        total_item_count: 0
                        updated_time: '2014-11-05T19:32:13-05:00'
                      - created_time: '2014-11-05T19:32:13-05:00'
                        id: '5747973'
                        name: Test Collection d332
                        total_item_count: 0
                        updated_time: '2014-11-05T19:32:13-05:00'
              schema:
                $ref: '#/components/schemas/CollectionDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.view
      summary: List audio collections
      tags:
        - audio
    post:
      description: 'This endpoint creates one or more collections (soundboxes). To add tracks, use `POST /v2/audio/collections/{id}/items`.'
      operationId: createSoundbox
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Create a soundbox
                value:
                  name: Best rock music
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
        description: Collection metadata
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionCreateResponse'
          description: No response was specified
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    id: '48433105'
          description: Successfully created collection
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.edit
      summary: Create audio collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "name": "Best rock music"
            }'

            curl -X POST https://api.shutterstock.com/v2/audio/collections \
            -d "$DATA" \
            -H "Content-Type: application/json" \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const body = {
              "name": "Best rock music"
            };

            audioApi.createSoundbox(body)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "name" => "Best rock music"
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  '/v2/audio/collections/{id}':
    delete:
      description: This endpoint deletes a collection.
      operationId: deleteSoundbox
      parameters:
        - description: Collection ID
          example: '48433111'
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: No response was specified
        '204':
          description: Successfully deleted collection
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.edit
      summary: Delete audio collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            curl -X DELETE https://api.shutterstock.com/v2/audio/collections/48433111 \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433107";

            audioApi.deleteSoundbox(collectionId)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433111",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
    get:
      description: 'This endpoint gets more detailed information about a collection, including the number of items in it and when it was last updated. To get the tracks in collections, use `GET /v2/audio/collections/{id}/items`.'
      operationId: getSoundbox
      parameters:
        - description: Collection ID
          example: '48433107'
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    id: '48433107'
                    name: Test Collection c28c
                    total_item_count: 0
                    updated_time: '2016-08-18T18:52:56-04:00'
              schema:
                $ref: '#/components/schemas/Collection'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Collection not found
      security:
        - customer_accessCode:
            - collections.view
      summary: Get the details of audio collections
      tags:
        - audio
    post:
      description: This endpoint sets a new name for a collection.
      operationId: renameSoundbox
      parameters:
        - description: Collection ID
          example: '48433107'
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Renaming a soundbox
                value:
                  name: Best rock music
            schema:
              $ref: '#/components/schemas/CollectionUpdateRequest'
        description: Collection changes
        required: true
      responses:
        '200':
          description: No response was specified
        '204':
          description: Successfully updated collection
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.edit
      summary: Rename audio collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "name": "Best rock music"
            }'

            curl -X POST https://api.shutterstock.com/v2/audio/collections/48433107 \
            -d "$DATA" \
            -H "Content-Type: application/json" \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433107";

            const body = {
              "name": "Best rock music"
            };

            audioApi.renameSoundbox(collectionId, body)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "name" => "Best rock music"
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433107",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  '/v2/audio/collections/{id}/items':
    delete:
      description: This endpoint removes one or more tracks from a collection.
      operationId: deleteSoundboxItems
      parameters:
        - description: Collection ID
          example: '48433119'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: One or more item IDs to remove from the collection
          example:
            - '76688182'
            - '40005859'
          in: query
          name: item_id
          schema:
            items:
              type: string
            type: array
      responses:
        '200':
          description: No response was specified
        '204':
          description: Successfully removed collection items
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.edit
      summary: Remove audio tracks from collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            curl -X DELETE https://api.shutterstock.com/v2/audio/collections/48433119/items?item_id=36345523 \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433119";

            // Array of tracks to remove
            const tracksToRemove = {
              "item_id": [
                "76688182",
                "40005859"
              ]
            };

            audioApi.deleteSoundboxItems(collectionId, tracksToRemove)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433119/items?item_id=495863218",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
    get:
      description: This endpoint lists the IDs of tracks in a collection and the date that each was added.
      operationId: getSoundboxItems
      parameters:
        - description: Collection ID
          example: '48433113'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          in: query
          name: per_page
          schema:
            default: 100
            maximum: 150
            minimum: 1
            type: integer
        - description: Sort order
          in: query
          name: sort
          schema:
            default: oldest
            enum:
              - newest
              - oldest
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - added_time: '2016-08-18T18:52:59-04:00'
                        id: '76688182'
                        media_type: audio
                      - added_time: '2016-08-18T18:52:59-04:00'
                        id: '40005859'
                        media_type: audio
                    page: 1
                    per_page: 100
              schema:
                $ref: '#/components/schemas/CollectionItemDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.view
      summary: Get the contents of audio collections
      tags:
        - audio
    post:
      description: This endpoint adds one or more tracks to a collection by track IDs.
      operationId: addSoundboxItems
      parameters:
        - description: Collection ID
          example: '48433115'
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Adds tracks to a soundbox
                value:
                  items:
                    - id: '442583'
                    - id: '7491192'
            schema:
              $ref: '#/components/schemas/CollectionItemRequest'
        description: List of items to add to collection
        required: true
      responses:
        '200':
          description: No response was specified
        '204':
          description: Successfully added collection items
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - collections.edit
      summary: Add audio tracks to collections
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "items": [
                {
                  "id": "442583"
                },
                {
                  "id": "7491192"
                }
              ]
            }'

            curl -X POST https://api.shutterstock.com/v2/audio/collections/48433115/items \
            -d "$DATA" \
            -H "Content-Type: application/json" \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const collectionId = "48433115";

            const body = {
              "items": [
                {
                  "id": "442583"
                },
                {
                  "id": "7491192"
                }
              ]
            };

            audioApi.addSoundboxItems(collectionId, body)
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "items" => [
                [
                  "id" => "442583"
                ],
                [
                  "id" => "7491192"
                ]
              ]
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/collections/48433115/items",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  /v2/audio/genres:
    get:
      description: This endpoint returns a list of all audio genres.
      operationId: getGenres
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - Rock
              schema:
                $ref: '#/components/schemas/GenreList'
          description: OK
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio genres
      tags:
        - audio
  /v2/audio/instruments:
    get:
      description: This endpoint returns a list of all audio instruments.
      operationId: getInstruments
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - Electric Guitar
              schema:
                $ref: '#/components/schemas/InstrumentList'
          description: OK
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio instruments
      tags:
        - audio
  /v2/audio/licenses:
    get:
      description: This endpoint lists existing licenses. You can filter the results according to the track ID to see if you have an existing license for a specific track.
      operationId: getAudioLicenseList
      parameters:
        - description: Show licenses for the specified track ID
          example: '1'
          in: query
          name: audio_id
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadHistoryDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - licenses.view
      summary: List audio licenses
      tags:
        - audio
    post:
      description: This endpoint gets licenses for one or more tracks.
      operationId: licenseTrack
      parameters:
        - description: License type
          in: query
          name: license
          schema:
            default: audio_standard
            enum:
              - audio_standard
              - audio_enhanced
              - audio_platform
              - premier_music_basic
              - premier_music_extended
              - premier_music_pro
              - premier_music_comp
            type: string
        - description: The ID of the search that led to licensing this track
          in: query
          name: search_id
          schema:
            type: string
      requestBody:
        content:
          application/json:
            examples:
              default:
                description: Overwrite content of soundbox with new items
                value:
                  audio:
                    - audio_id: '591623'
                      license: audio_standard
                      metadata:
                        customer_id: '12345'
            schema:
              $ref: '#/components/schemas/LicenseAudioRequest'
        description: Tracks to license
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - audio_id: '1'
                        download:
                          url: 'http://download2.dev.shutterstock.com/gatekeeper/abc/original.wav'
              schema:
                $ref: '#/components/schemas/LicenseAudioResultDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - licenses.create
      summary: License audio tracks
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |
            DATA='{
              "audio": [
                {
                  "audio_id": "591623",
                  "license": "audio_standard",
                  "metadata": {
                    "customer_id": "12345"
                  }
                }
              ]
            }'

            curl -X POST https://api.shutterstock.com/v2/audio/licenses \
            -d "$DATA" \
            -H "Content-Type: application/json" \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const body = {
              "audio": [
                {
                  "audio_id": "446348",
                  "license": "premier_music_comp",
                  "metadata": {
                    "customer_id": "12345"
                  }
                }
              ]
            };

            audioApi.licenseTrack(body)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $body = [
              "audio" => [
                [
                  "audio_id" => "591623",
                  "license" => "audio_standard",
                  "metadata" => [
                  "customer_id" => "12345"
                  ]
                ]
              ]
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/licenses",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  '/v2/audio/licenses/{id}/downloads':
    post:
      description: This endpoint redownloads tracks that you have already received a license for.
      operationId: downloadTracks
      parameters:
        - description: License ID
          example: i1188641348
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Url'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode:
            - licenses.view
      summary: Download audio tracks
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |-
            curl -X POST https://api.shutterstock.com/v2/audio/licenses/i1188641348/downloads \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const licenseId = "i1188641348"; // license ID, not track ID

            audioApi.downloadTracks(licenseId)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/licenses/i1188641348/downloads",
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  /v2/audio/moods:
    get:
      description: This endpoint returns a list of all audio moods.
      operationId: getMoods
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - Aggressive
              schema:
                $ref: '#/components/schemas/MoodList'
          description: OK
      security:
        - basic: []
        - customer_accessCode: []
      summary: List audio moods
      tags:
        - audio
  /v2/audio/search:
    get:
      description: 'This endpoint searches for tracks. If you specify more than one search parameter, the API uses an AND condition. Array parameters can be specified multiple times; in this case, the API uses an AND or an OR condition with those values, depending on the parameter.'
      operationId: searchAudio
      parameters:
        - description: Show tracks with one of the specified artist names or IDs
          in: query
          name: artists
          schema:
            items:
              type: string
            type: array
            uniqueItems: false
        - deprecated: true
          description: (Deprecated; use bpm_from and bpm_to instead) Show tracks with the specified beats per minute
          in: query
          name: bpm
          schema:
            type: integer
            uniqueItems: true
        - description: Show tracks with the specified beats per minute or faster
          in: query
          name: bpm_from
          schema:
            type: integer
            uniqueItems: true
        - description: Show tracks with the specified beats per minute or slower
          in: query
          name: bpm_to
          schema:
            type: integer
            uniqueItems: true
        - description: Show tracks with the specified duration (seconds)
          in: query
          name: duration
          schema:
            type: integer
            uniqueItems: true
        - description: Show tracks with the specified duration or longer (seconds)
          in: query
          name: duration_from
          schema:
            type: integer
            uniqueItems: true
        - description: Show tracks with the specified duration or shorter (seconds)
          in: query
          name: duration_to
          schema:
            type: integer
            uniqueItems: true
        - description: 'Show tracks with each of the specified genres; to get the list of genres, use `GET /v2/audio/genres`'
          example:
            - Classical
            - Holiday
          explode: true
          in: query
          name: genre
          schema:
            items:
              type: string
            type: array
            uniqueItems: false
        - description: Show instrumental music only
          in: query
          name: is_instrumental
          schema:
            type: boolean
            uniqueItems: true
        - description: 'Show tracks with each of the specified instruments; to get the list of instruments, use `GET /v2/audio/instruments`'
          example:
            - Trumpet
            - Percussion
          explode: true
          in: query
          name: instruments
          schema:
            items:
              type: string
            type: array
            uniqueItems: false
        - description: 'Show tracks with each of the specified moods; to get the list of moods, use `GET /v2/audio/moods`'
          example:
            - Confident
            - Playful
          explode: true
          in: query
          name: moods
          schema:
            items:
              type: string
            type: array
            uniqueItems: false
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
            uniqueItems: true
        - description: Number of results per page
          example: 1
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            minimum: 0
            type: integer
            uniqueItems: true
        - description: One or more search terms separated by spaces
          example: drum
          in: query
          name: query
          schema:
            type: string
            uniqueItems: true
        - description: Sort by
          in: query
          name: sort
          schema:
            enum:
              - score
              - ranking_all
              - artist
              - title
              - bpm
              - freshness
              - duration
            type: string
            uniqueItems: true
        - description: 'Sort order, asc or desc'
          in: query
          name: sort_order
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
            uniqueItems: true
        - description: 'Show tracks with the specified vocal description (male, female)'
          in: query
          name: vocal_description
          schema:
            type: string
            uniqueItems: true
        - description: Amount of detail to render in the response
          example: full
          in: query
          name: view
          schema:
            default: minimal
            enum:
              - minimal
              - full
            type: string
            uniqueItems: true
        - description: Fields to display in the response; see the documentation for the fields parameter in the overview section
          in: query
          name: fields
          schema:
            type: string
            uniqueItems: true
        - description: Which library to search
          in: query
          name: library
          schema:
            default: premier
            enum:
              - shutterstock
              - premier
            type: string
            uniqueItems: true
        - description: Which language to search in
          in: query
          name: language
          schema:
            type: string
            uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    added_date: '2016-08-16'
                    album:
                      id: ''
                      title: ''
                    artists:
                      - name: Klimenko Music
                    assets:
                      clean_audio:
                        file_size: 35188408
                      preview_mp3:
                        file_size: 4400203
                        url: 'https://ak.picdn.net/shutterstock/audio/442583/preview/preview.mp3'
                      preview_ogg:
                        file_size: 4453197
                        url: 'https://ak.picdn.net/shutterstock/audio/442583/preview/preview.ogg'
                      waveform:
                        file_size: 18778
                        url: 'https://ak.picdn.net/shutterstock/audio/442583/waveform/waveform.png'
                    bpm: 110
                    contributor:
                      id: '2847971'
                    description: 'Pulsing and feel-good, featuring soaring synthesizer, groovy synth bass drums and synth drums that create a euphoric, upbeat mood.'
                    duration: 183
                    genres:
                      - Dance/Electronic
                      - Electro Pop
                      - Pop/Rock
                    id: '442583'
                    instruments:
                      - Piano
                      - Synth bass
                      - Synth drums
                      - Synthesizer
                    is_adult: false
                    is_instrumental: true
                    isrc: ''
                    keywords:
                      - celebratory
                      - chic
                      - euphoric
                      - good times
                      - hip
                      - optimistic
                      - party
                      - soaring
                      - upbeat
                    language: en
                    lyrics: ''
                    media_type: audio
                    moods:
                      - Bright
                      - Confident
                      - Fun
                      - Happy
                      - Inspiring
                      - Optimistic
                      - Playful
                      - Sophisticated
                      - Stylish
                      - Uplifting
                    published_time: '2016-08-16T14:30:03-04:00'
                    recording_version: ''
                    releases: []
                    similar_artists: []
                    title: Another Tomorrow
                    updated_time: '2016-08-18T17:59:33-04:00'
                    url: 'https://www.shutterstock.com/music/track/another-tomorrow/442583'
                    vocal_description: ''
              schema:
                $ref: '#/components/schemas/AudioSearchResults'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: Search for tracks
      tags:
        - audio
      x-code-samples:
        - lang: shell
          source: |
            curl -X GET "https://api.shutterstock.com/v2/audio/search" \
            --header "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN" \
            -G \
            --data-urlencode "query=bluegrass" \
            --data-urlencode "duration_from=60" \
            --data-urlencode "moods=uplifting"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const audioApi = new sstk.AudioApi();

            const queryParams = {
              "query": "bluegrass",
              "duration_from": 60,
              "moods": ["uplifting"]
            };

            audioApi.searchAudio(queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $queryFields = [
              "query" => "bluegrass",
              "duration_from" => 60,
              "moods" => "uplifting"
            ];

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/audio/search?" . http_build_query($queryFields),
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  '/v2/audio/{id}':
    get:
      description: 'This endpoint shows information about a track, including its genres, instruments, and other attributes.'
      operationId: getTrack
      parameters:
        - description: Audio track ID
          example: '442583'
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Amount of detail to render in the response
          example: full
          in: query
          name: view
          schema:
            default: full
            enum:
              - minimal
              - full
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    added_date: '2016-08-16'
                    album:
                      id: ''
                      title: ''
                    artists:
                      - name: Klimenko Music
                    assets:
                      clean_audio:
                        file_size: 35188408
                      preview_mp3:
                        file_size: 4400203
                        url: 'https://ak.picdn.net/shutterstock/audio/442583/preview/preview.mp3'
                      preview_ogg:
                        file_size: 4453197
                        url: 'https://ak.picdn.net/shutterstock/audio/442583/preview/preview.ogg'
                      waveform:
                        file_size: 18778
                        url: 'https://ak.picdn.net/shutterstock/audio/442583/waveform/waveform.png'
                    bpm: 110
                    contributor:
                      id: '2847971'
                    description: 'Pulsing and feel-good, featuring soaring synthesizer, groovy synth bass drums and synth drums that create a euphoric, upbeat mood.'
                    duration: 183
                    genres:
                      - Dance/Electronic
                      - Electro Pop
                      - Pop/Rock
                    id: '442583'
                    instruments:
                      - Piano
                      - Synth bass
                      - Synth drums
                      - Synthesizer
                    is_adult: false
                    is_instrumental: true
                    isrc: ''
                    keywords:
                      - celebratory
                      - chic
                      - euphoric
                      - good times
                      - hip
                      - optimistic
                      - party
                      - soaring
                      - upbeat
                    language: en
                    lyrics: ''
                    media_type: audio
                    moods:
                      - Bright
                      - Confident
                      - Fun
                      - Happy
                      - Inspiring
                      - Optimistic
                      - Playful
                      - Sophisticated
                      - Stylish
                      - Uplifting
                    published_time: '2016-08-16T14:30:03-04:00'
                    recording_version: ''
                    releases: []
                    similar_artists: []
                    title: Another Tomorrow
                    updated_time: '2016-08-18T17:59:33-04:00'
                    url: 'https://www.shutterstock.com/music/track/another-tomorrow/442583'
                    vocal_description: ''
              schema:
                $ref: '#/components/schemas/Audio'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: Get details about audio tracks
      tags:
        - audio
  /v2/contributors:
    get:
      description: 'This endpoint lists information about one or more contributors, including contributor type, equipment they use and other attributes.'
      operationId: getContributorList
      parameters:
        - description: One or more contributor IDs
          example:
            - 800506
            - 1653538
          in: query
          name: id
          required: true
          schema:
            items:
              type: string
            type: array
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - about: 'Dave is a self confessed emotional photographer, capturing, keeping and sharing images for the stories of the wild that they convey.'
                        contributor_type:
                          - illustrator
                          - videographer
                        display_name: Dave Pusey
                        equipment:
                          - Both Canon & Nikon
                        id: '800506'
                        location: za
                        portfolio_url: 'http://www.shutterstock.com/g/davep'
                        social_media:
                          facebook: pages/Dave-Pusey-Photography/131399733564475
                        styles:
                          - black_and_white
                          - landscape
                          - nature
                        subjects:
                          - animals
                          - holiday
                          - nature
                          - travel
                          - wildlife
                        website: leovantage.com
              schema:
                $ref: '#/components/schemas/ContributorProfileDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode: []
      summary: Get details about multiple contributors
      tags:
        - contributors
  '/v2/contributors/{contributor_id}':
    get:
      description: 'This endpoint shows information about a single contributor, including contributor type, equipment they use, and other attributes.'
      operationId: getContributor
      parameters:
        - description: Contributor ID
          example: 1653538
          in: path
          name: contributor_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    about: A 18 year old photographer living in Amsterdam.
                    contributor_type:
                      - photographer
                      - illustrator
                      - videographer
                    display_name: Mees Kuiper
                    equipment:
                      - Nikon D7000
                      - Nikkor 70-300mm
                      - Nikkor 24-70mm
                    id: '1653538'
                    location: nl
                    portfolio_url: 'http://www.shutterstock.com/g/Mees Kuiper'
                    social_media: {}
                    styles: []
                    subjects:
                      - animals
                      - buildings
                      - nature
                      - people
                      - wildlife
              schema:
                $ref: '#/components/schemas/ContributorProfile'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - customer_accessCode: []
      summary: Get details about a single contributor
      tags:
        - contributors
  '/v2/contributors/{contributor_id}/collections':
    get:
      description: This endpoint lists collections based on contributor ID.
      operationId: getContributorCollectionsList
      parameters:
        - description: Contributor ID
          example: 800506
          in: path
          name: contributor_id
          required: true
          schema:
            type: string
        - description: Sort order
          in: query
          name: sort
          schema:
            enum:
              - newest
              - last_updated
              - item_count
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - cover_item:
                          id: '87672997'
                          media_type: image
                        created_time: '2012-04-07T02:07:28-04:00'
                        id: '135931'
                        name: Lion Cubs
                        total_item_count: 10
                        updated_time: '2014-05-01T05:22:07-04:00'
                      - cover_item:
                          id: '79489261'
                          media_type: image
                        created_time: '2014-05-01T05:23:20-04:00'
                        id: '1991564'
                        name: African Landscapes
                        total_item_count: 5
                        updated_time: '2014-05-01T05:38:34-04:00'
              schema:
                $ref: '#/components/schemas/CollectionDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Contributor not found
      security:
        - customer_accessCode: []
      summary: List contributors' collections
      tags:
        - contributors
  '/v2/contributors/{contributor_id}/collections/{id}':
    get:
      description: 'This endpoint gets more detailed information about a contributor''s collection, including its cover image, timestamps for its creation, and most recent update. To get the items in collections, use GET /v2/contributors/{contributor_id}/collections/{id}/items.'
      operationId: getContributorCollections
      parameters:
        - description: Contributor ID
          example: 800506
          in: path
          name: contributor_id
          required: true
          schema:
            type: string
        - description: Collection ID that belongs to the contributor
          example: 1991678
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    cover_item:
                      id: '168592952'
                      media_type: image
                    id: '1991678'
                    name: Baby Elephants
                    total_item_count: 3
                    updated_time: '2014-05-01T05:50:21-04:00'
              schema:
                $ref: '#/components/schemas/Collection'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Set not found
      security:
        - customer_accessCode: []
      summary: Get details about contributors' collections
      tags:
        - contributors
  '/v2/contributors/{contributor_id}/collections/{id}/items':
    get:
      description: This endpoint lists the IDs of items in a contributor's collection and the date that each was added.
      operationId: getContributorCollectionItems
      parameters:
        - description: Contributor ID
          example: 800506
          in: path
          name: contributor_id
          required: true
          schema:
            type: string
        - description: Collection ID that belongs to the contributor
          example: 1991678
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: Number of results per page
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 50
            minimum: 1
            type: integer
        - description: Sort order
          in: query
          name: sort
          schema:
            enum:
              - newest
              - oldest
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - added_time: '2014-05-01T05:49:46-04:00'
                        id: '168592952'
                        media_type: image
                      - added_time: '2014-05-01T05:49:59-04:00'
                        id: '88269310'
                        media_type: image
                      - added_time: '2014-05-01T05:50:21-04:00'
                        id: '94373977'
                        media_type: image
              schema:
                $ref: '#/components/schemas/CollectionItemDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Set not found
      security:
        - customer_accessCode: []
      summary: Get the items in contributors' collections
      tags:
        - contributors
  /v2/cv/images:
    post:
      description: 'This endpoint uploads an image for reverse image or video search. Images must be in JPEG or PNG format. To get the search results, pass the upload ID that this endpoint returns to the GET /v2/cv/similar/images or GET /v2/cv/similar/videos endpoints. Contact us for access to this endpoint.'
      operationId: uploadImage
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  base64_image: R0lGODlhgACAAPcAAEwiBLyaLOzNUNmWFNjOrNSuN7x6PPzqeOTMgfKSDMyuTPzwsdi2dHwuBPzbVu
            schema:
              $ref: '#/components/schemas/ImageCreateRequest'
        description: The image data as a base64 string
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    upload_id: Udb14e1c3540bdbf82b4b3fe12d3a44f2
              schema:
                description: Computer vision image upload information
                properties:
                  upload_id:
                    type: string
                required:
                  - upload_id
                type: object
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '413':
          description: Payload Too Large
        '415':
          description: Unsupported Media Type
      security:
        - basic: []
        - customer_accessCode: []
      summary: Upload images
      tags:
        - computer_vision
      x-code-samples:
        - lang: shell
          source: |
            RESPONSE=$(curl -X POST 'https://api.shutterstock.com/v2/cv/images' \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN" \
            -H 'Content-Type: application/json' \
            -d "{\"base64_image\":\"`base64 myImage.jpg`\"}")

            echo "The next step requires the jq program."

            UPLOAD_ID=$(jq -r .upload_id <<< $RESPONSE)

            curl -X GET https://api.shutterstock.com/v2/cv/similar/images \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN" \
            -G \
            --data-urlencode "asset_type=images" \
            --data-urlencode "asset_id=$UPLOAD_ID"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const computerVisionApi = new sstk.CvApi();

            const imageFile = fs.readFileSync("./myImage.jpg");
            const base64File = Buffer.from(imageFile).toString("base64");

            const body = new sstk.ImageCreateRequest(base64File);

            computerVisionApi.uploadImage(body)
              .then((data) => {
                console.log(data.upload_id);
                return computerVisionApi.getSimilarImages({
                  "asset_type": "images",
                  "asset_id": data.upload_id
                });
              })
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $imageData = file_get_contents("myImage.jpg");
            $encodedImageData = base64_encode($imageData);

            $uploadBody = [
              "base64_image" => $encodedImageData
            ];
            $uploadEncodedBody = json_encode($uploadBody);

            $uploadOptions = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/cv/images",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $uploadEncodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $uploadOptions);
            $uploadResponse = curl_exec($handle);
            curl_close($handle);

            $uploadDecodedResponse = json_decode($uploadResponse);
            print_r($uploadDecodedResponse->upload_id);

            $similarQuery = [
              "asset_type" => "images",
              "asset_id" => $uploadDecodedResponse->upload_id,
            ];

            $similarOptions = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/cv/similar/images?" . http_build_query($similarQuery),
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $similarOptions);
            $similarResponse = curl_exec($handle);
            curl_close($handle);

            print_r($similarResponse);
  /v2/cv/similar/images:
    get:
      description: This endpoint returns images that are visually similar to an image that you specify or upload.
      operationId: getSimilarImages
      parameters:
        - description: The asset ID or upload ID to find similar videos for
          example: U123456
          in: query
          name: asset_id
          required: true
          schema:
            type: string
        - description: Language for the keywords and categories in the response
          example: es
          in: query
          name: language
          schema:
            $ref: '#/components/schemas/Language'
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: 'Number of results per page, defaults to 20'
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            minimum: 1
            type: integer
        - description: Amount of detail to render in the response
          in: query
          name: view
          schema:
            default: minimal
            enum:
              - minimal
              - full
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - aspect: 1
                        assets:
                          huge_thumb:
                            height: 260
                            url: 'https://image.shutterstock.com/image-vector/happy-halloween-vector-260nw-224429596.jpg'
                            width: 260
                          large_thumb:
                            height: 150
                            url: 'https://thumb1.shutterstock.com/thumb_large/302287/224429596/stock-vector-happy-halloween-vector-224429596.jpg'
                            width: 150
                          preview:
                            height: 450
                            url: 'https://image.shutterstock.com/display_pic_with_logo/302287/224429596/stock-vector-happy-halloween-vector-224429596.jpg'
                            width: 450
                          small_thumb:
                            height: 100
                            url: 'https://thumb1.shutterstock.com/thumb_small/302287/224429596/stock-vector-happy-halloween-vector-224429596.jpg'
                            width: 100
                        contributor:
                          id: '302287'
                        description: Happy Halloween - vector
                        id: '224429596'
                        image_type: vector
                        media_type: image
                    page: 1
                    per_page: 1
                    search_id: ''
                    total_count: 200
              schema:
                $ref: '#/components/schemas/ImageSearchResults'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: List similar images
      tags:
        - computer_vision
  /v2/cv/similar/videos:
    get:
      description: This endpoint returns videos that are visually similar to an image that you specify or upload.
      operationId: getSimilarVideos
      parameters:
        - description: The asset ID or upload ID to find similar videos for
          example: U123456
          in: query
          name: asset_id
          required: true
          schema:
            type: string
        - description: Language for the keywords and categories in the response
          example: es
          in: query
          name: language
          schema:
            $ref: '#/components/schemas/Language'
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: 'Number of results per page, defaults to 20'
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 500
            minimum: 1
            type: integer
        - description: Amount of detail to render in the response
          in: query
          name: view
          schema:
            default: minimal
            enum:
              - minimal
              - full
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - aspect: 1.778
                        aspect_ratio: '16:9'
                        assets:
                          preview_jpg:
                            url: 'https://ak8.picdn.net/shutterstock/videos/33248488/thumb/12.jpg'
                          preview_mp4:
                            url: 'https://ak8.picdn.net/shutterstock/videos/33248488/preview/stock-footage-the-concept-of-digitalization-of-information-flow-moving-through-rack-servers-in-data-center-shot.mp4'
                          preview_webm:
                            url: 'https://ak8.picdn.net/shutterstock/videos/33248488/preview/stock-footage-the-concept-of-digitalization-of-information-flow-moving-through-rack-servers-in-data-center-shot.webm'
                          thumb_jpg:
                            url: 'https://ak8.picdn.net/shutterstock/videos/33248488/thumb/12.jpg'
                          thumb_mp4:
                            url: 'https://ak8.picdn.net/shutterstock/videos/33248488/thumb/stock-footage-the-concept-of-digitalization-of-information-flow-moving-through-rack-servers-in-data-center-shot.mp4'
                          thumb_webm:
                            url: 'https://ak8.picdn.net/shutterstock/videos/33248488/thumb/stock-footage-the-concept-of-digitalization-of-information-flow-moving-through-rack-servers-in-data-center-shot.webm'
                        contributor:
                          id: '178456'
                        description: 'The Concept of: Digitalization of Information Flow Moving Through Rack Servers in Data Center. Shot on RED EPIC-W 8K Helium Cinema Camera.'
                        duration: 19
                        id: '33248488'
                        media_type: video
                        url: 'https://www.shutterstock.com/video/clip-33248488'
                    page: 1
                    per_page: 1
                    search_id: ''
                    total_count: 200
              schema:
                $ref: '#/components/schemas/VideoSearchResults'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: List similar videos
      tags:
        - computer_vision
  /v2/editorial/licenses:
    post:
      description: This endpoint gets licenses for one or more editorial images. You must specify the country and one or more editorial images to license.
      operationId: licenseEditorialImage
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  country: USA
                  editorial:
                    - editorial_id: 8594090h
                      license: premier_editorial_comp
            schema:
              $ref: '#/components/schemas/LicenseEditorialContentRequest'
        description: License editorial content
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - download:
                          url: 'https://s3-eu-west-1.amazonaws.com/api-downloads.rexfeatures.com/[random-characters].jpg?Expires=1524717323'
                        editorial_id: '69656358'
              schema:
                $ref: '#/components/schemas/LicenseEditorialContentResultDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Not Acceptable
      security:
        - customer_accessCode:
            - licenses.create
      summary: License editorial content
      tags:
        - editorial
      x-code-samples:
        - lang: shell
          source: |-
            DATA='{
              "editorial": [
                {
                  "editorial_id": "8594090h",
                  "license": "premier_editorial_comp"
                }
              ],
              "country": "USA"
            }'

            curl -X POST https://api.shutterstock.com/v2/editorial/licenses \
            -d "$DATA" \
            -H "Content-Type: application/json" \
            -H "Accept: application/json" \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const editorialApi = new sstk.EditorialApi();

            const body = {
              "editorial": [
                {
                  "editorial_id": "8594090h",
                  "license": "premier_editorial_comp"
                }
              ],
              "country": "USA"
            };

            editorialApi.licenseEditorialImage(body)
              .then(({ data }) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |-
            $body = [
              "editorial" => [
                [
                  "editorial_id" => "8594090h",
                  "license" => "premier_editorial_comp"
                ]
              ],
              "country" => "USA"
            ];
            $encodedBody = json_encode($body);

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/editorial/licenses",
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => $encodedBody,
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN",
                "Content-Type: application/json"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  /v2/editorial/livefeeds:
    get:
      operationId: getEditorialLivefeedList
      parameters:
        - description: Returns only livefeeds that are available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU
          example: USA
          in: query
          name: country
          required: true
          schema:
            type: string
        - description: Page number
          in: query
          name: page
          schema:
            default: 1
            minimum: 1
            type: integer
        - description: 'Number of results per page, defaults to 20'
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 50
            minimum: 1
            type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - cover_item:
                          height: 170
                          id: 9938080a
                          url: 'https://editorial01.shutterstock.com/thumb/9938080a/532b2be1/Shutterstock_9938080a.jpg'
                          width: 113
                        created_time: '2018-10-19T20:27:26+00:00'
                        id: 2018%2F10%2F19%2F'Butterfly'%20photocall%2C%20Rome%20Film%20Festival
                        name: '''Butterfly'' photocall, Rome Film Festival'
                        total_item_count: 24
                    page: 1
                    per_page: 1
                    total_count: 6011
              schema:
                $ref: '#/components/schemas/EditorialLivefeedList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Not Acceptable
      security:
        - basic: []
        - customer_accessCode: []
      summary: Get editorial livefeed list
      tags:
        - editorial
  '/v2/editorial/livefeeds/{id}':
    get:
      operationId: getEditorialLivefeed
      parameters:
        - description: Editorial livefeed ID; must be an URI encoded string
          example: 2018%2F10%2F15%2FWomen%20of%20the%20Year%20Lunch%20%26%20Awards%2C%20London
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Returns only if the livefeed is available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU
          example: USA
          in: query
          name: country
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    cover_item:
                      height: 170
                      id: 9938511p
                      url: 'https://editorial01.shutterstock.com/thumb/9938511p/7d1f17d9/Shutterstock_9938511p.jpg'
                      width: 114
                    id: 2018%2F10%2F19%2F'The%20House%20with%20a%20Clock%20in%20Its%20Walls'%20premiere%2C%20Rome%20Film%20Festival
                    name: '''The House with a Clock in Its Walls'' premiere, Rome Film Festival'
                    total_item_count: 100
              schema:
                $ref: '#/components/schemas/EditorialLivefeed'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Not Acceptable
      security:
        - basic: []
        - customer_accessCode: []
      summary: Get editorial livefeed
      tags:
        - editorial
  '/v2/editorial/livefeeds/{id}/items':
    get:
      operationId: getEditorialLivefeedItems
      parameters:
        - description: Editorial livefeed ID; must be an URI encoded string
          example: 2018%2F10%2F15%2FWomen%20of%20the%20Year%20Lunch%20%26%20Awards%2C%20London
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Returns only if the livefeed items are available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU
          example: USA
          in: query
          name: country
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - aspect: 0.666
                        assets:
                          medium_jpg:
                            display_name: Med
                            height: 1000
                            is_licensable: true
                            width: 660
                          original:
                            display_name: Original
                            height: 4928
                            is_licensable: true
                            width: 3280
                          small_jpg:
                            display_name: Small
                            height: 500
                            is_licensable: true
                            width: 332
                          thumb_170:
                            height: 170
                            url: 'https://editorial01.shutterstock.com/thumb/9938573m/4d5708ce/Shutterstock_9938573m.jpg'
                            width: 113
                          thumb_220:
                            height: 220
                            url: 'https://editorial01.shutterstock.com/thumb-220/9938573m/b78aabde/Shutterstock_9938573m.jpg'
                            width: 146
                          watermark_1500:
                            height: 1500
                            url: 'https://editorial01.shutterstock.com/wm-preview-1500/9933285a/ab82fea4/Shutterstock_9933285a.jpg'
                            width: 1040
                          watermark_450:
                            height: 450
                            url: 'https://editorial01.shutterstock.com/wm-preview-450/9938573m/4a9a4add/Shutterstock_9938573m.jpg'
                            width: 300
                        byline: Maurizio D'Avanzo/IPA/Shutterstock
                        caption: ''
                        categories:
                          - name: Actor
                          - name: Female
                          - name: Personality
                        date_taken: '2018-10-19'
                        description: Christian Marazziti and Ariadna Romero
                        id: 9938573m
                        keywords: []
                        title: '''The House with a Clock in Its Walls'' premiere, Rome Film Festival, Italy - 19 Oct 2018'
              schema:
                $ref: '#/components/schemas/EditorialContentDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Not Acceptable
      security:
        - basic: []
        - customer_accessCode: []
      summary: Get editorial livefeed items
      tags:
        - editorial
  /v2/editorial/search:
    get:
      description: 'This endpoint searches for editorial images. If you specify more than one search parameter, the API uses an AND condition. Array parameters can be specified multiple times; in this case, the API uses an AND or an OR condition with those values, depending on the parameter. You can also filter search terms out in the `query` parameter by prefixing the term with NOT.'
      operationId: searchEditorial
      parameters:
        - description: One or more search terms separated by spaces
          in: query
          name: query
          schema:
            type: string
        - description: Sort by
          in: query
          name: sort
          schema:
            default: relevant
            enum:
              - relevant
              - newest
              - oldest
            type: string
        - description: Show editorial content within a certain editorial category; specify by category name
          in: query
          name: category
          schema:
            type: string
        - description: Show only editorial content that is available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU
          example: USA
          in: query
          name: country
          required: true
          schema:
            type: string
        - description: Show only editorial content from certain suppliers
          in: query
          name: supplier_code
          schema:
            items:
              type: string
            type: array
        - description: 'Show only editorial content generated on or after a specific date, in the format of YYYY-MM-DD'
          in: query
          name: date_start
          schema:
            format: date
            type: string
        - description: 'Show only editorial content generated on or before a specific date, in the format of YYYY-MM-DD'
          in: query
          name: date_end
          schema:
            format: date
            type: string
        - description: 'Number of results per page, defaults to 20'
          in: query
          name: per_page
          schema:
            default: 20
            maximum: 50
            minimum: 1
            type: integer
        - description: The cursor of the page with which to start fetching results; this cursor is returned from previous requests
          in: query
          name: cursor
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - aspect: 1.481
                        assets:
                          medium_jpg:
                            display_name: Med
                            height: 675
                            is_licensable: true
                            width: 1000
                          original:
                            display_name: Original
                            height: 3263
                            is_licensable: true
                            width: 4831
                          small_jpg:
                            display_name: Small
                            height: 337
                            is_licensable: true
                            width: 500
                          thumb_170:
                            height: 115
                            url: 'https://editorial01.shutterstock.com/thumb/9804979n/c4377a53/Shutterstock_9804979n.jpg'
                            width: 170
                          thumb_220:
                            height: 149
                            url: 'https://editorial01.shutterstock.com/thumb-220/9804979n/c57a68c7/Shutterstock_9804979n.jpg'
                            width: 220
                          watermark_1500:
                            height: 1500
                            url: 'https://editorial01.shutterstock.com/wm-preview-1500/9933285a/ab82fea4/Shutterstock_9933285a.jpg'
                            width: 1040
                          watermark_450:
                            height: 304
                            url: 'https://editorial01.shutterstock.com/wm-preview-450/9804979n/37d19dce/Shutterstock_9804979n.jpg'
                            width: 450
                        byline: ALEX HOFFORD/EPA-EFE/Shutterstock
                        caption: ''
                        categories: []
                        date_taken: '2018-08-24'
                        description: 'Members of the TyLoo e-Sports team from China prepare to face off against the Kinguin e-Sports team from Poland at the ICBC (Asia) e-Sports and Music Festival Hong Kong 2018, Hong Kong, China, 24 August 2018. The festival runs from 24 to 26 August with professional gamers from around the world competing in international e-sports tournaments.'
                        id: 9804979n
                        keywords: []
                        title: 'Hong Kong kicks off international e-Sports competition, China - 24 Aug 2018'
                    next: eyJ2IjoxLCJzIjoxfQ==
                    per_page: 1
                    prev: ''
                    search_id: q8igACM5gqQY75owjLoVvw
                    total_count: 1556949
              schema:
                $ref: '#/components/schemas/EditorialSearchResults'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Not Acceptable
      security:
        - basic: []
        - customer_accessCode: []
      summary: Search editorial content
      tags:
        - editorial
      x-code-samples:
        - lang: shell
          source: |
            curl -X GET https://api.shutterstock.com/v2/editorial/search \
            -H "Accept: application/json" \
            -G \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN" \
            --data-urlencode "query=football" \
            --data-urlencode "country=USA" \
            --data-urlencode "sort=newest" \
            --data-urlencode "date_start=2018-10-23"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const editorialApi = new sstk.EditorialApi();

            const queryParams = {
              "query": "football",
              "country": "USA",
              "sort": "newest",
              "date_start": "2018-10-23"
            };

            const country = "USA";

            editorialApi.searchEditorial(country, queryParams)
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.error(error);
              });
        - lang: php
          source: |
            $queryFields = [
              "query" => "football",
              "country" => "USA",
              "date_start" => "2018-10-23",
              "sort" => "newest"
            ];

            $options = [
              CURLOPT_URL => "https://api.shutterstock.com/v2/editorial/search?" . http_build_query($queryFields),
              CURLOPT_USERAGENT => "php/curl",
              CURLOPT_HTTPHEADER => [
                "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN"
              ],
              CURLOPT_RETURNTRANSFER => 1
            ];

            $handle = curl_init();
            curl_setopt_array($handle, $options);
            $response = curl_exec($handle);
            curl_close($handle);

            $decodedResponse = json_decode($response);
            print_r($decodedResponse);
  '/v2/editorial/{id}':
    get:
      description: 'This endpoint shows information about an editorial image, including a URL to a preview image and the sizes that it is available in.'
      operationId: getEditorialImage
      parameters:
        - description: Editorial ID
          example: 9926131a
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: Returns only if the content is available for distribution in a certain country; specify with 3-letter ISO 3166-1 alpha-3 country code such as USA or DEU
          example: USA
          in: query
          name: country
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    aspect: 1.33
                    assets:
                      medium_jpg:
                        display_name: Med
                        height: 751
                        is_licensable: true
                        width: 1000
                      original:
                        display_name: Original
                        height: 3447
                        is_licensable: true
                        width: 4586
                      small_jpg:
                        display_name: Small
                        height: 375
                        is_licensable: true
                        width: 500
                      thumb_170:
                        height: 128
                        url: 'https://editorial01.shutterstock.com/thumb/9767412v/36aeb953/Shutterstock_9767412v.jpg'
                        width: 170
                      thumb_220:
                        height: 165
                        url: 'https://editorial01.shutterstock.com/thumb-220/9767412v/b786b189/Shutterstock_9767412v.jpg'
                        width: 220
                      watermark_1500:
                        height: 1500
                        url: 'https://editorial01.shutterstock.com/wm-preview-1500/9933285a/ab82fea4/Shutterstock_9933285a.jpg'
                        width: 1040
                      watermark_450:
                        height: 338
                        url: 'https://editorial01.shutterstock.com/wm-preview-450/9767412v/f75b6680/Shutterstock_9767412v.jpg'
                        width: 450
                    byline: KIMIMASA MAYAMA/EPA-EFE/Shutterstock
                    caption: ''
                    categories: []
                    date_taken: '2018-07-22'
                    description: 'Tokyo 2020 Olympics mascot Miraitowa greets with former Japanese prime minister Yoshiko Mori, President of Tokyo 2020 Olympics Committee, as mascots of Tokyo 2020 Olympics and Paralympics debut in Tokyo, Japan, 22 July 2018. Tokyo 2020 Olympics will start on 24 July 2020 and run until 09 August 2020.'
                    id: 9767412v
                    keywords: []
                    title: 'Tokyo 2020 Olympics mascot Miraitowa and Paralympics mascot Someity debut, Japan - 22 Jul 2018'
              schema:
                $ref: '#/components/schemas/EditorialContent'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '406':
          description: Not Acceptable
      security:
        - basic: []
        - customer_accessCode: []
      summary: Get editorial content details
      tags:
        - editorial
  /v2/images:
    get:
      description: 'This endpoint lists information about one or more images, including the available sizes.'
      operationId: getImageList
      parameters:
        - description: One or more image IDs
          example:
            - '1110335168'
            - '465011609'
          in: query
          name: id
          required: true
          schema:
            items:
              type: string
            type: array
        - description: Amount of detail to render in the response
          example: minimal
          in: query
          name: view
          schema:
            default: minimal
            enum:
              - minimal
              - full
            type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - aspect: 0.8501
                        assets:
                          huge_thumb:
                            height: 260
                            url: 'https://image.shutterstock.com/image-vector/happy-mid-autumn-festival-background-260nw-465011609.jpg'
                            width: 221
                          large_thumb:
                            height: 150
                            url: 'https://thumb7.shutterstock.com/thumb_large/1384888/465011609/stock-vector-happy-mid-autumn-festival-background-with-golden-glitter-moon-and-hand-drawn-moon-rabbits-vector-465011609.jpg'
                            width: 128
                          preview:
                            height: 450
                            url: 'https://image.shutterstock.com/display_pic_with_logo/1384888/465011609/stock-vector-happy-mid-autumn-festival-background-with-golden-glitter-moon-and-hand-drawn-moon-rabbits-vector-465011609.jpg'
                            width: 382
                          small_thumb:
                            height: 100
                            url: 'https://thumb7.shutterstock.com/thumb_small/1384888/465011609/stock-vector-happy-mid-autumn-festival-background-with-golden-glitter-moon-and-hand-drawn-moon-rabbits-vector-465011609.jpg'
                            width: 85
                        contributor:
                          id: '1384888'
                        description: Happy Mid Autumn Festival background with golden glitter Moon and hand drawn Moon Rabbits. Vector illustration
                        id: '465011609'
                        image_type: vector
                        media_type: image
                        url: 'https://www.shutterstock.com/image-photo/465011609'
              schema:
                $ref: '#/components/schemas/ImageDataList'
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
        - basic: []
        - customer_accessCode: []
      summary: List images
      tags:
        - images
    post:
      deprecated: true
      description: 'Deprecated; use `POST /v2/cv/images` instead. This endpoint uploads an image for reverse image search. The image must be in JPEG or PNG format. To get the search results, pass the ID that this endpoint returns to the `GET /v2/images/{id}/similar` endpoint.'
      operationId: uploadEphemeralImage
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  base64_image: R0lGODlhgACAAPcAAEwiBLyaLOzNUNmWFNjOrNSuN7x6PPzqeOTMgfKSDMyuTPzwsdi2dHwuBPzbVu
            schema:
              $ref: '#/components/schemas/ImageCreateRequest'
        description: The image data in JPEG or PNG format
        required: true
      responses:
        '201':
          content:
            application/json:
              examples:
                response:
                  value:
                    id: Udb14e1c3540bdbf82b4b3fe12d3a44f2
              schema:
                $ref: '#/components/schemas/ImageCreateResponse'
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '413':
          description: Payload Too Large
      security:
        - basic: []
        - customer_accessCode: []
      summary: Upload ephemeral images
      tags:
        - computer_vision
      x-code-samples:
        - lang: shell
          source: |
            curl -X POST 'https://api.shutterstock.com/v2/images' \
            -H "Authorization: Bearer $SHUTTERSTOCK_API_TOKEN" \
            -H 'Content-Type: application/json' \
            -d "{\"base64_image\":\"`base64 myImage.jpg`\"}"
        - lang: javascript--nodejs
          source: |
            const sstk = require("shutterstock-api");

            sstk.setAccessToken(process.env.SHUTTERSTOCK_API_TOKEN);

            const imagesApi = new sstk.ImagesApi();

            const imageFile = fs.readFileSync("./myImage.jpg");
            const base64File = Buffer.from(imageFile).toString("base64");

            const body = new sstk.ImageCreateRequest(base64File);

            const queryParams = {
              "page": 1,
              "per_page": 20,
              "view": "minimal"
            };

[...]
