swagger: '2.0'
schemes:
  - https
host: slack.com
basePath: /api
info:
  description: 'One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.'
  title: Slack
  version: 1.2.0
  x-apisguru-categories:
    - collaboration
    - messaging
  x-logo:
    url: 'http://static.tumblr.com/wvuzcz9/LlKncfhmp/slack_logo_240.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/slackapi/slack-api-specs/master/web-api/slack_web_openapi_v2.json'
      version: '2.0'
  x-providerName: slack.com
externalDocs:
  description: Learn more about the Slack Web API
  url: 'https://api.slack.com/web'
produces:
  - application/json
securityDefinitions:
  slackAuth:
    authorizationUrl: 'https://slack.com/oauth/authorize'
    flow: accessCode
    scopes:
      admin: admin
      'admin.users:write': 'admin.users:write'
      bot: Bot user scope
      'channels:history': 'channels:history'
      'channels:read': 'channels:read'
      'channels:write': 'channels:write'
      'chat:write': 'chat:write'
      'chat:write:bot': Author messages as a bot
      'chat:write:user': 'chat:write:user'
      'conversations:history': 'conversations:history'
      'conversations:read': 'conversations:read'
      'conversations:write': 'conversations:write'
      'dnd:read': 'dnd:read'
      'dnd:write': 'dnd:write'
      'emoji:read': 'emoji:read'
      'files:read': 'files:read'
      'files:write:user': 'files:write:user'
      'groups:history': 'groups:history'
      'groups:read': 'groups:read'
      'groups:write': 'groups:write'
      identity.basic: identity.basic
      'im:history': 'im:history'
      'im:read': 'im:read'
      'im:write': 'im:write'
      'links:write': 'links:write'
      'mpim:history': 'mpim:history'
      'mpim:read': 'mpim:read'
      'mpim:write': 'mpim:write'
      none: No scope required
      'pins:read': 'pins:read'
      'pins:write': 'pins:write'
      'reactions:read': 'reactions:read'
      'reactions:write': 'reactions:write'
      'reminders:read': 'reminders:read'
      'reminders:write': 'reminders:write'
      'rtm:stream': 'rtm:stream'
      'search:read': 'search:read'
      'stars:read': 'stars:read'
      'stars:write': 'stars:write'
      'team:read': 'team:read'
      tokens.basic: tokens.basic
      'usergroups:read': 'usergroups:read'
      'usergroups:write': 'usergroups:write'
      'users.profile:read': 'users.profile:read'
      'users.profile:write': 'users.profile:write'
      'users:read': 'users:read'
      'users:read.email': 'users:read.email'
      'users:write': 'users:write'
    tokenUrl: 'https://slack.com/api/oauth.access'
    type: oauth2
paths:
  /admin.users.session.reset:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Wipes all valid sessions on all devices for a given user
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/admin.users.session.reset'
      operationId: admin_users_session_reset
      parameters: []
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - 'admin.users:write'
      tags:
        - admin.users.session
        - admin
  /api.test:
    get:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Checks API calling code.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/api.test'
      operationId: api_test
      parameters:
        - description: example property to return
          in: query
          name: foo
          type: string
        - description: Error response to return
          in: query
          name: error
          type: string
      responses:
        '200':
          description: Standard success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties:
              type: object
            description: Schema for successful response api.test method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: api.test success schema
            type: object
        default:
          description: Artificial error response
          examples:
            application/json:
              args:
                error: my_error
              error: my_error
              ok: false
          schema:
            additionalProperties:
              type: object
            description: Schema for error response api.test method
            properties:
              error:
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: api.test error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - api
  /apps.permissions.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns list of permissions this app has on a team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.info'
      operationId: apps_permissions_info
      parameters:
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              info:
                app_home:
                  resources:
                    ids:
                      - D0C0NU1Q8
                      - D0BH95DLH
                  scopes:
                    - 'chat:write'
                    - 'im:history'
                    - 'im:read'
                channel:
                  resources:
                    excluded_ids: []
                    ids:
                      - C061FA5PB
                    wildcard: false
                  scopes:
                    - 'channels:read'
                group:
                  resources:
                    ids: []
                  scopes: []
                im:
                  resources:
                    ids: []
                  scopes: []
                mpim:
                  resources:
                    ids: []
                  scopes: []
                team:
                  resources:
                    ids: []
                  scopes: []
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from apps.permissions.info method
            properties:
              info:
                properties:
                  app_home:
                    properties:
                      resources:
                        $ref: '#/definitions/objs_resources'
                      scopes:
                        $ref: '#/definitions/objs_scopes'
                    type: object
                  channel:
                    properties:
                      resources:
                        $ref: '#/definitions/objs_resources'
                      scopes:
                        $ref: '#/definitions/objs_scopes'
                    type: object
                  group:
                    properties:
                      resources:
                        $ref: '#/definitions/objs_resources'
                      scopes:
                        $ref: '#/definitions/objs_scopes'
                    type: object
                  im:
                    properties:
                      resources:
                        $ref: '#/definitions/objs_resources'
                      scopes:
                        $ref: '#/definitions/objs_scopes'
                    type: object
                  mpim:
                    properties:
                      resources:
                        $ref: '#/definitions/objs_resources'
                      scopes:
                        $ref: '#/definitions/objs_scopes'
                    type: object
                  team:
                    properties:
                      resources:
                        $ref: '#/definitions/objs_resources'
                      scopes:
                        $ref: '#/definitions/objs_scopes'
                    required:
                      - scopes
                      - resources
                    type: object
                required:
                  - team
                  - channel
                  - group
                  - mpim
                  - im
                  - app_home
                type: object
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - info
            title: apps.permissions.info schema
            type: object
        default:
          description: Standard failure response when used with an invalid token
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from apps.permissions.info method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: apps.permissions.info error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions
        - apps
  /apps.permissions.request:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Allows an app to request additional scopes
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.request'
      operationId: apps_permissions_request
      parameters:
        - description: A comma separated list of scopes to request for
          in: query
          name: scopes
          type: string
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: Token used to trigger the permissions API
          in: query
          name: trigger_id
          type: string
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from apps.permissions.request method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: apps.permissions.request schema
            type: object
        default:
          description: Standard failure response when trigger_id is invalid
          examples:
            application/json:
              error: invalid_trigger_id
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from apps.permissions.request method
            properties:
              error:
                enum:
                  - invalid_trigger
                  - trigger_exchanged
                  - invalid_scope
                  - invalid_user
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: apps.permissions.request error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions
        - apps
  /apps.permissions.resources.list:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns list of resource grants this app has on a team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.resources.list'
      operationId: apps_permissions_resources_list
      parameters:
        - description: 'Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request''s `response_metadata`. Default value fetches the first "page" of the collection. See [pagination](/docs/pagination) for more detail.'
          in: query
          name: cursor
          type: string
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: The maximum number of items to return.
          in: query
          name: limit
          type: integer
      responses:
        '200':
          description: Typical successful paginated response
          examples:
            application/json:
              ok: true
              resources:
                - id: T0DES3UAN
                  type: team
                - id: D024BFF1M
                  type: app_home
                - id: C024BE91L
                  type: channel
              response_metadata:
                next_cursor: dGVhbTpDMUg5UkVTR0w=
          schema:
            additionalProperties: true
            description: Schema for successful response apps.permissions.resources.list method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              resources:
                items:
                  properties:
                    id:
                      title: An ID for a resource
                      type: string
                      x-examples:
                        - T0DES3UAN
                        - C0ABC1ABC
                    type:
                      title: The type of resource the `id` corresponds to
                      type: string
                      x-examples:
                        - team
                        - channel
                        - mpim
                  type: object
                type: array
              response_metadata:
                additionalProperties: false
                properties:
                  next_cursor:
                    type: string
                    x-examples:
                      - dGVhbTpDMUg5UkVTR0w=
                required:
                  - next_cursor
                type: object
            required:
              - ok
              - resources
            title: apps.permissions.resources.list success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_cursor
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from apps.permissions.resources.list method
            properties:
              error:
                enum:
                  - invalid_cursor
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: apps.permissions.resources.list error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions.resources
        - apps
  /apps.permissions.scopes.list:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns list of scopes this app has on a team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.scopes.list'
      operationId: apps_permissions_scopes_list
      parameters:
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
      responses:
        '200':
          description: Typical successful paginated response
          examples:
            application/json:
              ok: true
              scopes:
                app_home:
                  - 'chat:write'
                  - 'im:history'
                  - 'im:read'
                channel:
                  - 'channels:history'
                  - 'chat:write'
                group:
                  - 'chat:write'
                im:
                  - 'chat:write'
                mpim:
                  - 'chat:write'
                team:
                  - 'users:read'
                user: []
          schema:
            additionalProperties: true
            description: Schema for successful response api.permissions.scopes.list method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              scopes:
                additionalProperties: true
                properties:
                  app_home:
                    $ref: '#/definitions/objs_scopes'
                  channel:
                    $ref: '#/definitions/objs_scopes'
                  group:
                    $ref: '#/definitions/objs_scopes'
                  im:
                    $ref: '#/definitions/objs_scopes'
                  mpim:
                    $ref: '#/definitions/objs_scopes'
                  team:
                    $ref: '#/definitions/objs_scopes'
                  user:
                    $ref: '#/definitions/objs_scopes'
                type: object
            required:
              - ok
              - scopes
            title: api.permissions.scopes.list success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from apps.permissions.scopes.list method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: apps.permissions.scopes.list error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions.scopes
        - apps
  /apps.permissions.users.list:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Returns list of user grants and corresponding scopes this app has on a team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.users.list'
      operationId: apps_permissions_users_list
      parameters:
        - description: 'Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request''s `response_metadata`. Default value fetches the first "page" of the collection. See [pagination](/docs/pagination) for more detail.'
          in: query
          name: cursor
          type: string
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: The maximum number of items to return.
          in: query
          name: limit
          type: integer
      responses:
        '200':
          description: Typical successful paginated response
          examples:
            application/json:
              ok: true
              resources:
                - id: U0DES3UAN
                  scopes:
                    - 'dnd:write:user'
                    - 'reminders:write:user'
                - id: U024BFF1M
                  scopes:
                    - 'reminders:write:user'
              response_metadata:
                next_cursor: dGVhbTdPMUg5UkFTT0w=
          schema:
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_cursor
              ok: false
          schema:
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions.users
        - apps
  /apps.permissions.users.request:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Enables an app to trigger a permissions modal to grant an app access to a user access scope.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.permissions.users.request'
      operationId: apps_permissions_users_request
      parameters:
        - description: A comma separated list of user scopes to request for
          in: query
          name: scopes
          type: string
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: The user this scope is being requested for
          in: query
          name: user
          type: string
        - description: Token used to trigger the request
          in: query
          name: trigger_id
          type: string
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              ok: true
          schema:
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default success template
            type: object
        default:
          description: Standard failure response when trigger_id is invalid
          examples:
            application/json:
              error: invalid_trigger_id
              ok: false
          schema:
            description: Verbose schema not yet ready for this method.
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: Default error template
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions.users
        - apps
  /apps.uninstall:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Uninstalls your app from a workspace.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/apps.uninstall'
      operationId: apps_uninstall
      parameters:
        - description: Issued when you created your application.
          in: query
          name: client_secret
          type: string
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
        - description: Issued when you created your application.
          in: query
          name: client_id
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from apps.uninstall method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: apps.uninstall schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from apps.uninstall method
            properties:
              error:
                enum:
                  - invalid_client_id
                  - bad_client_secret
                  - client_id_token_mismatch
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: apps.uninstall error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps
  /auth.revoke:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Revokes a token.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/auth.revoke'
      operationId: auth_revoke
      parameters:
        - description: Setting this parameter to `1` triggers a _testing mode_ where the specified token will not actually be revoked.
          in: query
          name: test
          type: boolean
        - description: 'Authentication token. Requires scope: `none`'
          in: query
          name: token
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
              revoked: true
          schema:
            additionalProperties: false
            description: Schema for successful response from auth.revoke method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              revoked:
                type: boolean
            required:
              - ok
              - revoked
            title: auth.revoke schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from auth.revoke method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: auth.revoke error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - auth
  /auth.test:
    get:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Checks authentication & identity.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/auth.test'
      operationId: auth_test
      parameters: []
      responses:
        '200':
          description: Standard success response when used with a user token
          examples:
            application/json:
              ok: true
              team: Subarachnoid Workspace
              team_id: T12345678
              url: 'https://subarachnoid.slack.com/'
              user: grace
              user_id: W12345678
          schema:
            additionalProperties: false
            description: Schema for successful response auth.test method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              team:
                type: string
              team_id:
                $ref: '#/definitions/defs_team'
              url:
                type: string
              user:
                type: string
              user_id:
                $ref: '#/definitions/defs_user_id'
            required:
              - ok
              - url
              - team
              - user
              - team_id
              - user_id
            title: auth.test success schema
            type: object
        default:
          description: Standard failure response when used with an invalid token
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response auth.test method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - token_revoked
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: auth.test error schema
            type: object
      security:
        - slackAuth:
            - none
      tags:
        - auth
  /bots.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Gets information about a bot user.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/bots.info'
      operationId: bots_info
      parameters:
        - description: 'Authentication token. Requires scope: `users:read`'
          in: query
          name: token
          type: string
        - description: Bot user to get info on
          in: query
          name: bot
          type: string
      responses:
        '200':
          description: 'When successful, returns bot info by bot ID.'
          examples:
            application/json:
              bot:
                app_id: A161CLERW
                deleted: false
                icons:
                  image_36: 'https://...'
                  image_48: 'https://...'
                  image_72: 'https://...'
                id: B061F7JD2
                name: beforebot
                updated: 1449272004
                user_id: U012ABCDEF
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from bots.info method
            properties:
              bot:
                additionalProperties: false
                properties:
                  app_id:
                    $ref: '#/definitions/defs_app_id'
                  deleted:
                    type: boolean
                  icons:
                    additionalProperties: false
                    properties:
                      image_36:
                        format: uri
                        type: string
                      image_48:
                        format: uri
                        type: string
                      image_72:
                        format: uri
                        type: string
                    required:
                      - image_36
                      - image_48
                      - image_72
                    type: object
                  id:
                    $ref: '#/definitions/defs_bot_id'
                  name:
                    type: string
                  updated:
                    type: integer
                  user_id:
                    $ref: '#/definitions/defs_user_id'
                required:
                  - id
                  - deleted
                  - name
                  - updated
                  - app_id
                  - icons
                type: object
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - bot
            title: bots.info schema
            type: object
        default:
          description: 'When no bot can be found, it returns an error.'
          examples:
            application/json:
              error: bot_not_found
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from bots.info method
            properties:
              error:
                enum:
                  - bot_not_found
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: bots.info error schema
            type: object
      security:
        - slackAuth:
            - 'users:read'
      tags:
        - bots
  /channels.archive:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Archives a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.archive'
      operationId: channels_archive
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to archive
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.archive method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.archive success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.archive method
            properties:
              error:
                enum:
                  - channel_not_found
                  - already_archived
                  - cant_archive_general
                  - restricted_action
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.archive error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.create:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Creates a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.create'
      operationId: channels_create
      parameters:
        - description: Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria.
          in: formData
          name: validate
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Name of channel to create
          in: formData
          name: name
          type: string
      responses:
        '200':
          description: Typical success response resulting in a new channel
          examples:
            application/json:
              channel:
                created: 1502833204
                creator: U061F7AUR
                id: C0DEL09A5
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: 0000000000.000000
                latest: null
                members:
                  - U061F7AUR
                name: endeavor
                name_normalized: endeavor
                previous_names: []
                purpose:
                  creator: ''
                  last_set: 0
                  value: ''
                topic:
                  creator: ''
                  last_set: 0
                  value: ''
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response channels.create method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.create error schema
            type: object
        default:
          description: Example error response when an invalid name is provided
          examples:
            application/json:
              detail: Value passed for `name` contained unallowed special characters.
              error: invalid_name_specials
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.create method
            properties:
              error:
                enum:
                  - name_taken
                  - restricted_action
                  - no_channel
                  - invalid_name_required
                  - invalid_name_punctuation
                  - invalid_name_maxlength
                  - invalid_name_specials
                  - invalid_name
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.create error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.history:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Fetches history of messages and events from a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.history'
      operationId: channels_history
      parameters:
        - description: 'Number of messages to return, between 1 and 1000.'
          in: query
          name: count
          type: integer
        - description: Include `unread_count_display` in the output?
          in: query
          name: unreads
          type: boolean
        - description: Include messages with latest or oldest timestamp in results.
          in: query
          name: inclusive
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:history`'
          in: query
          name: token
          type: string
        - description: Start of time range of messages to include in results.
          in: query
          name: oldest
          type: number
        - description: Channel to fetch history for.
          in: query
          name: channel
          type: string
        - description: End of time range of messages to include in results.
          in: query
          name: latest
          type: number
      responses:
        '200':
          description: Typical success response containing the channel's history
          examples:
            application/json:
              has_more: false
              messages:
                - text: Hello
                  ts: '1358546515.000008'
                  type: message
                  user: U2147483896
                - is_starred: true
                  reactions:
                    - count: 3
                      name: space_invader
                      users:
                        - U1
                        - U2
                        - U3
                    - count: 5
                      name: sweet_potato
                      users:
                        - U1
                        - U2
                        - U3
                        - U4
                        - U5
                  text: World
                  ts: '1358546515.000007'
                  type: message
                  user: U2147483896
                - ts: '1358546515.000007'
                  type: something_else
                - attachments:
                    - fallback: This is an attachment fallback
                      id: 1
                      text: Don't get too attached
                  bot_id: B19LU7CSY
                  subtype: bot_message
                  text: Containment unit is 98% full
                  ts: '1503435956.000247'
                  type: message
                  username: ecto1138
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response channels.history method
            properties:
              has_more:
                type: boolean
              is_limited:
                type: boolean
              messages:
                items:
                  $ref: '#/definitions/objs_message'
                minItems: 1
                type: array
                uniqueItems: true
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - messages
              - has_more
            title: channels.history success schema
            type: object
        default:
          description: Error response when the specified channel cannot be found
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.history method
            properties:
              error:
                enum:
                  - channel_not_found
                  - invalid_ts_latest
                  - invalid_ts_oldest
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.history error schema
            type: object
      security:
        - slackAuth:
            - 'channels:history'
      tags:
        - channels
  /channels.info:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Gets information about a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.info'
      operationId: channels_info
      parameters:
        - description: 'Authentication token. Requires scope: `channels:read`'
          in: query
          name: token
          type: string
        - description: Set this to `true` to receive the locale for this channel. Defaults to `false`
          in: query
          name: include_locale
          type: boolean
        - description: Channel to get info on
          in: query
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel:
                created: 1466025154
                creator: U0G9QF9C6
                id: C1H9RESGL
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: '1503435939.000101'
                latest:
                  attachments:
                    - fallback: This is an attachment fallback
                      id: 1
                      text: Don't get too attached
                  bot_id: B19LU7CSY
                  subtype: bot_message
                  text: Containment unit is 98% full
                  ts: '1503435956.000247'
                  type: message
                  username: ecto1138
                members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                name: busting
                name_normalized: busting
                previous_names:
                  - dusting
                purpose:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: Discuss busting ghosts
                topic:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: Spiritual containment strategies
                unread_count: 1
                unread_count_display: 1
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response channels.info method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.info success schema
            type: object
        default:
          description: Error response when the specified channel cannot be found
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.info method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.info error schema
            type: object
      security:
        - slackAuth:
            - 'channels:read'
      tags:
        - channels
  /channels.invite:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Invites a user to a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.invite'
      operationId: channels_invite
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: User to invite to channel.
          in: formData
          name: user
          type: string
        - description: Channel to invite user to.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel:
                created: 1466025154
                creator: U0G9QF9C6
                id: C1H9RESGL
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                last_read: '1503435963.000307'
                latest:
                  subtype: channel_leave
                  text: <@U1QNSQB9U|protobot> has left the channel
                  ts: '1503435963.000307'
                  type: message
                  user: U1QNSQB9U
                members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                name: busting
                name_normalized: busting
                previous_names: []
                purpose:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Purpose
                topic:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Topic
                unread_count: 0
                unread_count_display: 0
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response channels.invite method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.invite error schema
            type: object
        default:
          description: A somewhat typical error response
          examples:
            application/json:
              error: cant_invite
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.invite method
            properties:
              error:
                enum:
                  - channel_not_found
                  - user_not_found
                  - cant_invite_self
                  - not_in_channel
                  - already_in_channel
                  - is_archived
                  - cant_invite
                  - too_many_users
                  - ura_max_channels
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - user_is_bot
                  - user_is_restricted
                  - user_is_ultra_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - team_added_to_org
                  - missing_charset
                  - superfluous_charset
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.invite error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.join:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: 'Joins a channel, creating it if needed.'
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.join'
      operationId: channels_join
      parameters:
        - description: Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria.
          in: formData
          name: validate
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Name of channel to join
          in: formData
          name: name
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              already_in_channel: true
              channel:
                created: 1466025154
                creator: U0G9QF9C6
                id: C1H9RESGL
                is_archived: false
                is_channel: true
                is_general: false
                is_member: true
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members:
                  - U0G9QF9C6
                  - U1QNSQB9U
                name: busting
                name_normalized: busting
                previous_names: []
                purpose:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Purpose
                topic:
                  creator: U0G9QF9C6
                  last_set: 1503435128
                  value: My Topic
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.join method
            properties:
              already_in_channel:
                type: boolean
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.join schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: channel_not_found
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.join method
            properties:
              error:
                enum:
                  - channel_not_found
                  - name_taken
                  - restricted_action
                  - no_channel
                  - is_archived
                  - invalid_name_required
                  - invalid_name_punctuation
                  - invalid_name_maxlength
                  - invalid_name_specials
                  - invalid_name
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - user_is_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.join error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.kick:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Removes a user from a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.kick'
      operationId: channels_kick
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: User to remove from channel.
          in: formData
          name: user
          type: string
        - description: Channel to remove user from.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.kick method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.kick schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: not_in_channel
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.kick method
            properties:
              error:
                enum:
                  - channel_not_found
                  - user_not_found
                  - cant_kick_self
                  - not_in_channel
                  - cant_kick_from_general
                  - restricted_action
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - user_is_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.kick error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.leave:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Leaves a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.leave'
      operationId: channels_leave
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to leave
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.leave method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.leave schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.leave method
            properties:
              error:
                enum:
                  - channel_not_found
                  - is_archived
                  - cant_leave_general
                  - cant_leave_mandatory_shared_channel
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - user_is_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.leave error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.list:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Lists all channels in a Slack team.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.list'
      operationId: channels_list
      parameters:
        - description: Exclude the `members` collection from each `channel`
          in: query
          name: exclude_members
          type: boolean
        - description: 'Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request''s `response_metadata`. Default value fetches the first "page" of the collection. See [pagination](/docs/pagination) for more detail.'
          in: query
          name: cursor
          type: string
        - description: 'Authentication token. Requires scope: `channels:read`'
          in: query
          name: token
          type: string
        - description: 'The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn''t been reached.'
          in: query
          name: limit
          type: integer
        - description: Exclude archived channels from the list
          in: query
          name: exclude_archived
          type: boolean
      responses:
        '200':
          description: Typical cursored success response
          examples:
            application/json:
              channels:
                - created: 1449709280
                  creator: U0G9QF9C6
                  id: C0G9QF9GW
                  is_archived: false
                  is_channel: true
                  is_general: false
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                    - U0G9QF9C6
                    - U0G9WFXNZ
                  name: random
                  name_normalized: random
                  num_members: 2
                  previous_names: []
                  purpose:
                    creator: ''
                    last_set: 0
                    value: 'A place for non-work-related flimflam, faffing, hodge-podge or jibber-jabber you''d prefer to keep out of more focused work-related channels.'
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1449709352
                    value: Other stuff
                - created: 1449709280
                  creator: U0G9QF9C6
                  id: C0G9QKBBL
                  is_archived: false
                  is_channel: true
                  is_general: true
                  is_member: true
                  is_mpim: false
                  is_org_shared: false
                  is_private: false
                  is_shared: false
                  members:
                    - U0G9QF9C6
                    - U0G9WFXNZ
                  name: general
                  name_normalized: general
                  num_members: 2
                  previous_names: []
                  purpose:
                    creator: U0G9QF9C6
                    last_set: 1449709334
                    value: To talk about anything!
                  topic:
                    creator: U0G9QF9C6
                    last_set: 1449709364
                    value: Talk about anything!
              ok: true
              response_metadata:
                next_cursor: dGVhbTpDMUg5UkVTR0w=
          schema:
            additionalProperties: false
            description: Schema for successful response channels.list method
            properties:
              channels:
                items:
                  $ref: '#/definitions/objs_channel'
                minItems: 1
                type: array
                uniqueItems: true
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channels
            title: channels.list success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.list method
            properties:
              error:
                enum:
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - limit_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.list error schema
            type: object
      security:
        - slackAuth:
            - 'channels:read'
      tags:
        - channels
  /channels.mark:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sets the read cursor in a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.mark'
      operationId: channels_mark
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Timestamp of the most recently seen message.
          in: formData
          name: ts
          type: number
        - description: Channel to set reading cursor in.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response channels.mark method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.mark success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response channels.mark method
            properties:
              error:
                enum:
                  - channel_not_found
                  - invalid_timestamp
                  - not_in_channel
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.mark error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.rename:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Renames a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.rename'
      operationId: channels_rename
      parameters:
        - description: Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria.
          in: formData
          name: validate
          type: boolean
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: New name for channel.
          in: formData
          name: name
          type: string
        - description: Channel to rename
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel:
                created: 1477445146
                creator: U2U85N1RZ
                id: C2U875RJN
                is_archived: false
                is_channel: true
                is_general: false
                is_member: false
                is_mpim: false
                is_org_shared: false
                is_private: false
                is_shared: false
                members: []
                name: humans-and-bots
                name_normalized: humans-and-bots
                previous_names:
                  - humans
                purpose:
                  creator: U2U85N1RZ
                  last_set: 1509475801
                  value: the purpose of this channel is to bring people and robots together in harmony
                topic:
                  creator: U2U85N1RZ
                  last_set: 1509475775
                  value: here be robots
                unlinked: 0
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.rename method
            properties:
              channel:
                $ref: '#/definitions/objs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - channel
            title: channels.rename schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.rename method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_in_channel
                  - not_authorized
                  - invalid_name
                  - name_taken
                  - invalid_name_required
                  - invalid_name_punctuation
                  - invalid_name_maxlength
                  - invalid_name_specials
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - user_is_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.rename error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.replies:
    get:
      consumes:
        - application/x-www-form-urlencoded
      description: Retrieve a thread of messages posted to a channel
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.replies'
      operationId: channels_replies
      parameters:
        - description: Unique identifier of a thread's parent message
          in: query
          name: thread_ts
          type: number
        - description: 'Authentication token. Requires scope: `channels:history`'
          in: query
          name: token
          type: string
        - description: Channel to fetch thread from
          in: query
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              has_more: false
              messages:
                - last_read: '1509484885.000082'
                  replies:
                    - ts: '1509484424.000601'
                      user: U2U85N1RZ
                    - ts: '1509484885.000082'
                      user: U2U85N1RZ
                  reply_count: 2
                  subscribed: true
                  text: This is a channel message
                  thread_ts: '1485913694.000025'
                  ts: '1485913694.000025'
                  type: message
                  unread_count: 0
                  user: U2X9P5FEL
                - parent_user_id: U2X9P5FEL
                  text: This is a thread reply
                  thread_ts: '1485913694.000025'
                  ts: '1509484424.000601'
                  type: message
                  user: U2U85N1RZ
                - parent_user_id: U2X9P5FEL
                  text: This is another thread reply
                  thread_ts: '1485913694.000025'
                  ts: '1509484885.000082'
                  type: message
                  user: U2U85N1RZ
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.replies method
            properties:
              has_more:
                type: boolean
              messages:
                items:
                  items:
                    - additionalProperties: false
                      properties:
                        last_read:
                          $ref: '#/definitions/defs_ts'
                        latest_reply:
                          $ref: '#/definitions/defs_ts'
                        replies:
                          items:
                            additionalProperties: false
                            properties:
                              ts:
                                $ref: '#/definitions/defs_ts'
                              user:
                                $ref: '#/definitions/defs_user_id'
                            required:
                              - user
                              - ts
                            type: object
                          type: array
                        reply_count:
                          type: integer
                        reply_users:
                          items:
                            $ref: '#/definitions/defs_user_id'
                          type: array
                          uniqueItems: true
                        reply_users_count:
                          type: integer
                        source_team:
                          $ref: '#/definitions/defs_team'
                        subscribed:
                          type: boolean
                        team:
                          $ref: '#/definitions/defs_team'
                        text:
                          type: string
                        thread_ts:
                          $ref: '#/definitions/defs_ts'
                        ts:
                          $ref: '#/definitions/defs_ts'
                        type:
                          type: string
                        unread_count:
                          type: integer
                        user:
                          $ref: '#/definitions/defs_user_id'
                        user_profile:
                          $ref: '#/definitions/objs_user_profile_short'
                        user_team:
                          $ref: '#/definitions/defs_team'
                      required:
                        - type
                        - user
                        - text
                        - thread_ts
                        - reply_count
                        - replies
                        - subscribed
                        - ts
                      type: object
                    - additionalProperties: false
                      properties:
                        is_starred:
                          type: boolean
                        parent_user_id:
                          $ref: '#/definitions/defs_user_id'
                        source_team:
                          $ref: '#/definitions/defs_team'
                        team:
                          $ref: '#/definitions/defs_team'
                        text:
                          type: string
                        thread_ts:
                          $ref: '#/definitions/defs_ts'
                        ts:
                          $ref: '#/definitions/defs_ts'
                        type:
                          type: string
                        user:
                          $ref: '#/definitions/defs_user_id'
                        user_profile:
                          $ref: '#/definitions/objs_user_profile_short'
                        user_team:
                          $ref: '#/definitions/defs_team'
                      required:
                        - type
                        - user
                        - text
                        - thread_ts
                        - parent_user_id
                        - ts
                      type: object
                type: array
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
              - messages
              - has_more
            title: channels.replies schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: thread_not_found
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.replies method
            properties:
              error:
                enum:
                  - channel_not_found
                  - thread_not_found
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.replies error schema
            type: object
      security:
        - slackAuth:
            - 'channels:history'
      tags:
        - channels
  /channels.setPurpose:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sets the purpose for a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.setPurpose'
      operationId: channels_setPurpose
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: The new purpose
          in: formData
          name: purpose
          type: string
        - description: Channel to set the purpose of
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
              purpose: My special purpose
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.setPurpose method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              purpose:
                type: string
            required:
              - ok
              - purpose
            title: channels.setPurpose schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.setPurpose method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_in_channel
                  - is_archived
                  - too_long
                  - user_is_restricted
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.setPurpose error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.setTopic:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Sets the topic for a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.setTopic'
      operationId: channels_setTopic
      parameters:
        - description: The new topic
          in: formData
          name: topic
          type: string
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to set the topic of
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
              topic: To picture topicality
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.setTopic method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
              topic:
                type: string
            required:
              - topic
              - ok
            title: channels.setTopic schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.setTopic method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_in_channel
                  - is_archived
                  - too_long
                  - user_is_restricted
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.setTopic error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /channels.unarchive:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Unarchives a channel.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/channels.unarchive'
      operationId: channels_unarchive
      parameters:
        - description: 'Authentication token. Requires scope: `channels:write`'
          in: header
          name: token
          type: string
        - description: Channel to unarchive
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              ok: true
          schema:
            additionalProperties: false
            description: Schema for successful response from channels.unarchive method
            properties:
              ok:
                $ref: '#/definitions/defs_ok_true'
            required:
              - ok
            title: channels.unarchive schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: invalid_auth
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from channels.unarchive method
            properties:
              error:
                enum:
                  - channel_not_found
                  - not_archived
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - org_login_required
                  - user_is_bot
                  - user_is_restricted
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
            required:
              - ok
              - error
            title: channels.unarchive error schema
            type: object
      security:
        - slackAuth:
            - 'channels:write'
      tags:
        - channels
  /chat.delete:
    post:
      consumes:
        - application/x-www-form-urlencoded
        - application/json
      description: Deletes a message.
      externalDocs:
        description: API method documentation
        url: 'https://api.slack.com/methods/chat.delete'
      operationId: chat_delete
      parameters:
        - description: 'Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope.'
          in: formData
          name: as_user
          type: boolean
        - description: 'Authentication token. Requires scope: `chat:write`'
          in: header
          name: token
          type: string
        - description: Timestamp of the message to be deleted.
          in: formData
          name: ts
          type: number
        - description: Channel containing the message to be deleted.
          in: formData
          name: channel
          type: string
      responses:
        '200':
          description: Typical success response
          examples:
            application/json:
              channel: C024BE91L
              ok: true
              ts: '1401383885.000061'
          schema:
            additionalProperties: false
            description: Schema for successful response of chat.delete method
            properties:
              channel:
                $ref: '#/definitions/defs_channel'
              ok:
                $ref: '#/definitions/defs_ok_true'
              ts:
                $ref: '#/definitions/defs_ts'
            required:
              - ok
              - channel
              - ts
            title: chat.delete success schema
            type: object
        default:
          description: Typical error response
          examples:
            application/json:
              error: message_not_found
              ok: false
          schema:
            additionalProperties: false
            description: Schema for error response from chat.delete method
            properties:
              error:
                enum:
                  - message_not_found
                  - channel_not_found
                  - cant_delete_message
                  - compliance_exports_prevent_deletion
                  - not_authed
                  - invalid_auth
                  - account_inactive
                  - token_revoked
                  - no_permission
                  - invalid_arg_name
                  - invalid_array_arg
                  - invalid_charset
                  - invalid_form_data
                  - invalid_post_type
                  - missing_post_type
                  - team_added_to_org
                  - invalid_json
                  - json_not_object
                  - request_timeout
                  - upgrade_required
                  - fatal_error
                type: string
              ok:
                $ref: '#/definitions/defs_ok_false'
[...]
