<ng-template #modal let-close="close" let-d="dismiss">
  <ng-container *ngIf="data$ | async as data">
    <div class="modal-header">
      <h4 class="modal-title">{{ data.title | titlecase }}</h4>
    </div>
    <div class="modal-body">
      <div class="editor">
        <ace-editor
          class="h-100"
          [options]="data.editorConfig.options"
          [mode]="data.editorConfig.mode"
          [theme]="data.editorConfig.theme"
          [text]="data.content"
        ></ace-editor>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="close()">
        Close
      </button>
    </div>
  </ng-container>
</ng-template>
