@import 'src/renderer/styles/bootstrap-variables.scss';

.footer {
  color: $gray-400;
  background-color: lighten($gray-900, 5%);
  z-index: 15;
  min-height: 32px;

  .footer-item {
    font-size: $font-size-sm;
    transition: all ease-in-out 200ms;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }
}
