<div class="environments-menu d-flex flex-column h-100" appMousedragDeadzone>
  <div>
    <ul class="nav menu-header d-flex justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link text-primary add-environment"
          (click)="addEnvironment()"
          ngbTooltip="New environment"
        >
          <i class="material-icons">post_add</i>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-primary open-environment"
          (click)="openEnvironment()"
          ngbTooltip="Open environment"
        >
          <i class="material-icons">folder_open</i>
        </a>
      </li>
    </ul>
  </div>
  <ng-container *ngIf="environments$ | async as environments">
    <ul
      class="nav flex-column flex-fill menu-list"
      #environmentsMenu
      cdkDropList
      (cdkDropListDropped)="reorderEnvironments($event)"
    >
      <ng-container *ngIf="environmentsStatus$ | async as environmentsStatus">
        <li
          *ngFor="let environment of environments"
          class="nav-item"
          cdkDrag
          cdkDragLockAxis="y"
          cdkDragBoundary=".environments-menu .nav.menu-list"
        >
          <a
            class="nav-link"
            [ngClass]="{
              active: (activeEnvironment$ | async)?.uuid === environment.uuid,
              running:
                environmentsStatus[environment.uuid].running &&
                !environmentsStatus[environment.uuid].needRestart,
              'need-restart': environmentsStatus[environment.uuid].needRestart
            }"
            (click)="selectEnvironment(environment.uuid)"
            (contextmenu)="openContextMenu(environment.uuid, $event)"
          >
            <div class="d-flex">
              <div class="mw0 pr-2">
                <div class="ellipsis environment-name">
                  {{ environment.name ? environment.name : '&nbsp;' }}
                </div>
                <div class="menu-subtitle ellipsis">
                  <span
                    >{{ environment.hostname }}:{{ environment.port }}/{{
                      environment.endpointPrefix
                    }}</span
                  >
                </div>
              </div>
              <div class="d-flex flex-column ml-auto">
                <div class="server-icons server-icons-proxy-mode">
                  <i
                    *ngIf="environment.proxyMode"
                    class="material-icons"
                    ngbTooltip="Proxy mode enabled"
                    >security</i
                  >
                  <span *ngIf="!environment.proxyMode">&nbsp;</span>
                </div>
                <div class="server-icons server-icons-https">
                  <i
                    *ngIf="environment.https"
                    class="material-icons"
                    ngbTooltip="HTTPS enabled"
                    >https</i
                  >
                  <span *ngIf="!environment.https">&nbsp;</span>
                </div>
                <div class="server-icons server-icons-cors">
                  <i
                    *ngIf="environment.cors"
                    class="material-icons"
                    ngbTooltip="CORS enabled"
                    >multiple_stop</i
                  >
                  <span *ngIf="!environment.cors">&nbsp;</span>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ng-container>
    </ul>
  </ng-container>
  <div
    appResizeColumn
    type="environments"
    [minWidth]="menuSize"
    [maxWidthFactor]="0.2"
    class="resize-column"
  ></div>
</div>
