@import 'src/renderer/styles/bootstrap-variables.scss';

.environments-menu {
  background: $gray-900;
  border-right: 1px solid lighten($gray-900, 2%);
  min-width: 100px;
  // initial width
  width: 150px;

  position: relative; // we need this for the resize-column

  .server-icons {
    opacity: 0.7;
    font-size: 12px;
    line-height: 16px;

    i {
      font-size: 12px;
      vertical-align: middle;
    }

    &-proxy-mode {
      color: $blue;
    }

    &-https {
      color: $yellow;
    }

    &-cors {
      color: $cyan;
    }
  }
}
