name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint and format
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Lint and check format
        run: |
          npm run lint
          npm run format

  test-libs:
    name: Libs - Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 10

    needs: lint

    strategy:
      matrix:
        node: [18, 20, 22, 24]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build and test
        run: |
          npm run build:libs
          npm run test:libs

  test-serverless:
    name: Serverless - Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    needs: [lint, test-libs]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build and test
        run: |
          npm run build:libs
          npm run build:serverless
          npm run test:serverless

  test-cli:
    name: CLI - Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 15

    needs: [lint, test-libs]

    strategy:
      matrix:
        node: [18, 20, 22, 24]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build and test
        run: |
          npm run build:libs
          npm run build:cli
          npm run test:cli

  test-desktop-packaged-win:
    name: Desktop packaged Windows - Build and test
    runs-on: windows-latest
    timeout-minutes: 60

    needs: [lint, test-libs]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: |
          npm run build:libs
          npm run build:desktop:ci
          npm run package:desktop:test:win
      - name: Run tests
        run: |
          npm run test:desktop:win

  # test-desktop-packaged-mac:
  #   name: Desktop packaged MacOS - Build and test
  #   runs-on: macos-latest
  #   timeout-minutes: 120

  #   needs: [lint, test-libs]

  #   env:
  #     USE_HARD_LINKS: false

  #   steps:
  #     - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
  #     - name: Install Node.js
  #       uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
  #       with:
  #         node-version: "24"
  #         cache: npm
  #     - name: Install dependencies
  #       run: npm ci
  #     - name: Build
  #       run: |
  #         npm run build:libs
  #         npm run build:desktop:ci
  #         npm run package:desktop:test:mac
  #     - name: Run tests
  #       run: |
  #         export DISPLAY=':99.0'
  #         Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  #         npm run test:desktop:mac

  test-desktop-packaged-linux:
    name: Desktop packaged Linux - Build and test
    runs-on: ubuntu-latest
    timeout-minutes: 60

    needs: [lint, test-libs]

    env:
      USE_HARD_LINKS: false

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: |
          npm run build:libs
          npm run build:desktop:ci
          npm run package:desktop:test:linux
      - name: Run tests
        run: |
          export DISPLAY=':99.0'
          Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          npm run test:desktop:linux
