name: Release web app (Firebase)

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "24"
          cache: npm
      - name: Install firebase
        run: npm install -g firebase-tools
      - name: Build application
        run: |
          npm ci
          npm run build:libs
          npm run build:web:prod
      - name: deploy
        run: |
          npm run deploy:web
