name: Release web app (Firebase)

permissions:
  contents: read

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"
          cache: npm
      - name: Install firebase
        run: npm install -g firebase-tools
      - name: Build application
        run: |
          npm ci
          npm run build:libs
          npm run build:web:prod
      - name: deploy
        run: |
          npm run deploy:web
